include ../../../../config/variables.pug

tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px;  border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#FFFFFF')
      tr
        td(align='center', valign='center', style='font-size:0;')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-bbva.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-bcp.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-interbank.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-scotiabank.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-banbif.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-wu.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-kasnet.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='center', width='145')
          div(style='display:inline-block; max-width:145px; vertical-align:center; width:100%; margin-bottom: 20px;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:145px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  img(src=config.cdnMailing + 'logo-fullcarga.png')
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100; padding-top: 20px;', bgcolor='#FFFFFF')
      tr
        td(align='center', valign='center', style='font-size:0;')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='center', width='120')
          div(style='display:inline-block; max-width:120px; vertical-align:center; width:120%;')
            table.deviceWidth(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:100px;')
              tr
                td(align='center', valign='center', style='font-size:14px; padding: 0px 0px 20px 0px;' )
                  a(href= config.envUrl + '#/?tienda=[idServicio]&moneda=1&monto=[Monto]&ubicame=true')
                    img(src=config.cdnMailing + 'mapa.png')
          //if (gte mso 9)|(IE)
            td(align='left', valign='top', width='275')
          div(style='display:inline-block; max-width:275px; vertical-align:top; width:100%;')
            table.deviceWidth(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:275px; padding-bottom: 25px;')
              tr
                td(align='center', valign='center', style='font-size:14px;' )
                  a(href= config.envUrl + '#/?tienda=[idServicio]&moneda=1&monto=[Monto]&ubicame=true')
                    img(src=config.cdnMailing + 'encuentratupago.png')
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
