tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding:10px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ececec')
      tr
        td(align='center', valign='top', style='font-size:15px; font-weight:bold; font-family: Arial;')
          | CANALES DE PAGO
    //if (gte mso 9)|(IE)
tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding: 10px 0 30px 0; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tr
        td(align='center', valign='top', style='font-size:13px; font-weight: bold; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; padding: 6px; font-family: Arial;')
          | Banca por Internet y Banca M&oacute;vil 
    //if (gte mso 9)|(IE)
tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#FFFFFF')
      tr
        td(align='left', valign='top')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='top', width='195')
          div(style='display:inline-block; max-width:195px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:195px;')
              tr
                td(align='left', valign='top')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000')
                    li Banco BBVA Continental
          //if (gte mso 9)|(IE)
            td(align='left', valign='top', width='395')
          div(style='display:inline-block; max-width:395px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:395px;')
              tr
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000')
                  ol(style='font-size:13px; font-family: Arial; padding-right: 20px;')
                    li(style='color: #000000')
                      | Seleccione la opci&oacute;n Pago de Servicios > De Instituciones y Empresas > Busca por nombre PAGOEFECTIVO > PAGOEFECTIVO SOLES.
                    li(style='color: #000000') 
                      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#FFFFFF')
      tr
        td(align='left', valign='top')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='top', width='195')
          div(style='display:inline-block; max-width:195px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:195px;')
              tr
                td(align='left', valign='top')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000')
                    li Banco BCP
          //if (gte mso 9)|(IE)
            td(align='left', valign='top', width='395')
          div(style='display:inline-block; max-width:395px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:395px;')
              tr
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000')
                  ol(style='font-size:13px; font-family: Arial; padding-right:20px;')
                    li(style='color: #000000')
                      | Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO SOLES.
                    li(style='color: #000000') 
                      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#FFFFFF')
      tr
        td(align='left', valign='top')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='top', width='195')
          div(style='display:inline-block; max-width:195px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:195px;')
              tr
                td(align='left', valign='top')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000')
                    li Banco Interbank
          //if (gte mso 9)|(IE)
            td(align='left', valign='top', width='395')
          div(style='display:inline-block; max-width:395px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:395px;')
              tr
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000')
                  ol(style='font-size:13px; font-family: Arial; padding-right: 20px;')
                    li(style='color: #000000')
                      | Selecciona la opci&oacute;n de Pago a Instituciones o Empresa > Empresa: PAGOEFECTIVO > Servicio: PAGOEFECTIVO.
                    li(style='color: #000000') 
                      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#FFFFFF')
      tr
        td(align='left', valign='top')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='top', width='195')
          div(style='display:inline-block; max-width:195px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:195px;')
              tr
                td(align='left', valign='top')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000')
                    li Banco Scotiabank
          //if (gte mso 9)|(IE)
            td(align='left', valign='top', width='395')
          div(style='display:inline-block; max-width:395px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:395px;')
              tr
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000')
                  ol(style='font-size:13px; font-family: Arial; padding-right: 20px;')
                    li(style='color: #000000')
                      | Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO SOLES.
                    li(style='color: #000000') 
                      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#FFFFFF')
      tr
        td(align='left', valign='top')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='top', width='195')
          div(style='display:inline-block; max-width:195px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:195px;')
              tr
                td(align='left', valign='top')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000')
                    li Banco BanBif
          //if (gte mso 9)|(IE)
            td(align='left', valign='top', width='395')
          div(style='display:inline-block; max-width:395px; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:395px;')
              tr
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000')
                  ol(style='font-size:13px; font-family: Arial; padding-right: 20px;')
                    li(style='color: #000000')
                      | Selecciona la opci&oacute;n Pago de servicios > Busca por Empresa y escribe PAGOEFECTIVO > Selecciona la empresa PAGOEFECTIVO.
                    li(style='color: #000000') 
                      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
