html
  body
    table(cellspacing='0', cellpadding='0', width='100%', style='font-family: arial,tahoma; font-weight: normal; color: black; border: 2px solid #f6c100;')
      tbody
        tr
          td
            table.wrapper(border='0', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr(height='undefined', style='background: none repeat scroll 0% 0% #ffcc00;')
                  td(style='width: 30px;')
                  td(align='left', valign='center', style='font-size:18px; font-weight: bold;', height='80px')
                    img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/pe-header.png', width='200px')
                  td(align='right', valign='center', height='80px', style='font-size:20px; font-weight: bold; font-family: Arial;')
                    | Informaci&oacute;n para tu pago
                  td(style='width: 30px;')
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
        tr(height='undefined')
          td(align='center', valign='top', style='font-size:15px; font-family: Arial; font-weight:bold;')
            | 	&#161;Est&aacute;s a punto de finalizar tu compra&#33;
        tr(height='undefined')
          td(align='center', valign='top', height='10px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 5px;')
          td(colspan='4')
            table(cellspacing='0', cellpadding='0', border='0', width='740', height:='')
              tbody
                tr
                  td(width='120', height='150', style='padding: 0px; margin-left: 5px;')
                  td(align='center', width='320', rowspan='2')
                    table(cellspacing='0', cellpadding='0', bgcolor='#d0d0d0', align='center', width='300', height='undefined')
                      tbody(style='background: #e9e9e9;', align='center')
                        tr(height='undefined')
                          td(colspan='2', align='center', valign='top', height='20px')
                        tr
                          td(align='right', valign='top', style='font-size:14px; font-family: Arial; padding-top: 15px;', width='160px')
                            |&nbsp;&nbsp;Empresa Recaudadora:
                          td(align='left', valign='bottom', style='font-size:14px; font-family: Arial; padding-top: 15px;', width='190px')
                            |&nbsp;&nbsp;PagoEfectivo
                        tr
                          td(colspan='2', align='right', valign='top', height='5px')
                        tr
                          td(align='right', valign='top', style='font-size:14px; font-family: Arial;', width='160px')
                            |&nbsp;&nbsp;Nombre de Servicio:
                          td(align='left', valign='bottom', style='font-size:14px; font-family: Arial;', width='190px')
                            |&nbsp;&nbsp;PagoEfectivo Soles
                        tr
                          td(colspan='2', align='right', valign='top', height='5px')
                        tr
                          td(align='right', valign='bottom', style='font-size:14px; font-family: Arial;', width='160px')
                            |&nbsp;&nbsp;C&oacute;digo de pago (CIP):
                          td(align='left', valign='bottom', style='font-size:15px; font-family: Arial; font-weight: bold;', width='190px')
                            |&nbsp;&nbsp;[CIP]
                        tr
                          td(colspan='2', align='right', valign='top', height='5px')
                        tr
                          td(align='right', valign='top', style='font-size:14px; font-family: Arial;', width='160px')
                            |&nbsp;&nbsp;Importe:
                          td(align='left', valign='top', style='font-size:15px; font-family: Arial; font-weight: bold;', width='190px')
                            |&nbsp;&nbsp;[Moneda] [Monto]
                        tr
                          td(colspan='2', align='right', valign='top', height='5px')
                        tr
                          td(align='right', valign='top', style='font-size:14px; font-family: Arial; padding-bottom: 15px;', width='160px')
                            |&nbsp;&nbsp;Vencimiento:
                          td(align='left', valign='top', style='font-size:14px; font-family: Arial; padding-bottom: 15px;', width='190px')
                            |&nbsp;&nbsp;[FechaVencimiento] - [HoraVencimiento]
                        tr(height='undefined')
                          td(colspan='2', align='center', valign='top', height='20px')
                  td(width='100')
        tr(height='undefined')
          td(align='center', height='100%', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='padding: 15px 55px;', bgcolor='#ffffff')
              tr
                td(style='width: 140px;')
                td(align='center', valign='top', style='font-size:12px;font-family: Arial;')
                  | El c&oacute;digo de pago (CIP) no es una reserva confirmada de compra hasta haber realizado el pago. La empresa [ServicioNombre]
                  | se reserva el derecho de finalizar el pedido antes del vencimiento.
                td(style='width: 140px;')
        tr(height='undefined')
          td(align='center', valign='top', height='10px')
        tr
          td(align='center')
            table
              tbody
                tr
                  td(style='width: 10px;')
                  td(style='width: 600px; border: 0.5px solid #b6b6b6; height: 1px;')
                  td(style='width: 10px;')
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 5px;')
          td(align='center', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', bgcolor='#FFFFFF')
              tr
                td(align='center', valign='top', style='font-size:0;')
                  div(style='display:inline-block;  vertical-align:top; width:100%;')
                    table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
                      tr
                        td(style='width: 30px;')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-bbva.png')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-bcp.png')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-interbank.png')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-scotiabank.png')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-banbif.png')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-wu.png')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-kasnet.png')
                        td(align='center', valign='top')
                          img(src='http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-fullcarga.png')
                        td(style='width: 30px;')
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
        tr(height='undefined', style='top: 0px; background: #e9e9e9;')
          td(align='center', valign='center', style='font-size:15px; font-weight:bold; font-family: Arial;', height='35px')
            | CANALES DE PAGO
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 25px')
          td(align='center', height='100%', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr
                td(style='width: 600px; border: 0.5px solid #b6b6b6; height: 1px;')
              tr(height='undefined')
                td(align='center', valign='top', height='10px')
              tr
                td(align='center', valign='top', style='font-size:13px; font-weight: bold;font-family: Arial;') Banca por Internet y Banca M&oacute;vil 
              tr(height='undefined')
                td(align='center', valign='top', height='10px')
              tr
                td(style='width: 600px; border: 0.5px solid #b6b6b6; height: 1px;')
        tr(height='undefined')
          td(align='center', valign='top', height='30px')
        tr(height='undefined', style='top: 20px;')
          td(align='center', valign='top')
            table(align='center', border='0', cellpadding='0', cellspacing='0')
              tr
                td(align='left', valign='top', width='520px')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000;')
                    li Banco BBVA Continental
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000;')
                  | 1. Seleccione la opci&oacute;n Pago de Servicios > De Instituciones y Empresas > Busca por nombre
                  br
                  | &nbsp;&nbsp;&nbsp;&nbsp;PAGOEFECTIVO > PAGOEFECTIVO SOLES.
                  br
                  | 2. Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.
              tr(height='undefined')
                td(align='center', valign='top', height='20px')
              tr
                td(align='left', valign='top', width='520px')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000;')
                    li Banco BCP
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000;')
                  | 1. Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO
                  br
                  | &nbsp;&nbsp;&nbsp;&nbsp;SOLES.
                  br
                  | 2. Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.
              tr(height='undefined')
                td(align='center', valign='top', height='20px')
              tr
                td(align='left', valign='top', width='520px')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000;')
                    li Banco Interbank
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000;')
                  | 1. Selecciona la opci&oacute;n de Pago a Instituciones o Empresa > Empresa: PAGOEFECTIVO >
                  br
                  | &nbsp;&nbsp;&nbsp;&nbsp;Servicio: PAGOEFECTIVO.
                  br
                  | 2. Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
              tr(height='undefined')
                td(align='center', valign='top', height='20px')
              tr
                td(align='left', valign='top', width='520px')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000;')
                    li Banco Scotiabank
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000;')
                  | 1. Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio:
                  br
                  | &nbsp;&nbsp;&nbsp;&nbsp;PAGOEFECTIVO > Selecciona: PAGOEFECTIVO SOLES.
                  br
                  | 2. Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
              tr(height='undefined')
                td(align='center', valign='top', height='20px')
              tr
                td(align='left', valign='top', width='520px')
                  ul(style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000;')
                    li Banco BanBif
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000;')
                  | 1. Selecciona la opci&oacute;n Pago de servicios > Busca por Empresa y escribe PAGOEFECTIVO >
                  br
                  | &nbsp;&nbsp;&nbsp;&nbsp;Selecciona la empresa PAGOEFECTIVO.
                  br
                  | 2. Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 25px')
          td(align='center', height='100%', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr
                td(style='width: 40%; border: 0.5px solid #b6b6b6; height: 1px;')
                td(width='10px')
                td(style='width: 40%; border: 0.5px solid #b6b6b6; height: 1px;')
              tr(height='undefined')
                td(colspan='3', align='center', valign='top', height='10px')
              tr
                td(align='center', valign='top', style='font-size:14px; font-weight:bold;font-family: Arial;') Agentes y Bodegas
                td(align='center', valign='top', style='font-size:14px; font-weight:bold;font-family: Arial;')
                td(align='center', valign='top', style='font-size:14px; font-weight: bold;font-family: Arial;') Agencias
              tr(height='undefined')
                td(colspan='3', align='center', valign='top', height='10px')
              tr
                td(style='width: 40%; border: 0.5px solid #b6b6b6; height: 1px;')
                td(width='10px')
                td(style='width: 40%; border: 0.5px solid #b6b6b6; height: 1px;')
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 25px')
          td(align='center', height='100%', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr(height='undefined')
                td(colspan='5', align='center', valign='top', height='10px')
              tr
                td(align='center', valign='top', style='font-size:12px; font-weight:bold;font-family: Arial;')
                  ul
                    li Express BBVA Continental
                    li Agente BCP (*)
                    li Agente Interbank (**)
                    li Agente Scotiabank
                td(align='left', valign='top', style='font-size:12px; font-weight: bold;font-family: Arial;')
                  ul
                    li Agente Kasnet
                    li Western Union
                    li Full Carga (***)
                td(align='left', valign='top', style='font-size:12px; font-weight: bold;font-family: Arial;', width='20px')
                td(align='center', valign='top', style='font-size:12px; font-weight:bold;font-family: Arial;')
                  ul
                    li Banco BBVA Continental
                    li Banco BCP (*)
                    li Banco Interbank (**)
                td(align='left', valign='top', style='font-size:12px; font-weight: bold;font-family: Arial;')
                  ul
                    li Banco Scotiabank
                    li Banco BanBif
              tr(height='undefined')
                td(colspan='5', align='center', valign='top', height='10px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 25px')
          td(align='center', height='100%', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr(height='undefined')
                td(colspan='2', align='center', valign='top', height='10px')
              tr
                td(style='width: 20px;')
                td(align='left', valign='top', style='font-size:12px; font-family: Arial;')
                  | 1. Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
                  br
                  | 2. Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.
                td(align='left', valign='top', style='font-size:12px; font-weight: bold;font-family: Arial;', width='20px')
                td(align='left', valign='top', style='font-size:12px; font-family: Arial;')
                  | 1. Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
                  br
                  | 2. Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.
              tr(height='undefined')
                td(colspan='2', align='center', valign='top', height='10px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 25px')
          td(align='center', height='100%', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr(height='undefined')
                td(colspan='3', align='center', valign='top', height='10px')
              tr
                td(style='width: 20px;')
                td(align='left', valign='top', style='font-size:12px; font-family: Arial;', width='45%')
                  | (*) Agentes BCP: Brinda el c&oacute;digo de empresa 02186.
                  br
                  | (**) Agentes Interbank: Brinda el siguiente c&oacute;digo 2735001.
                  br
                  | (***) Encuentra a FullCarga en Bodegas, Farmacias, Cabinas de Internet y Locutorios.
                td(align='left', valign='top', style='font-size:12px; font-weight: bold;font-family: Arial;', width='40px')
                td(align='left', valign='top', style='font-size:12px; font-family: Arial;')
                  | (*) Agencias BCP: Costo adicional S/ 1.00.
                  br
                  |  (**) Agencias Money Market de Interbank: Costo adicional S/ 2.00.
              tr(height='undefined')
                td(colspan='3', align='center', valign='top', height='10px')
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
        tr
          td(align='center')
            table
              tbody
                tr
                  td(style='width: 10px;')
                  td(style='width: 600px; border: 0.5px solid #b6b6b6; height: 1px;')
                  td(style='width: 10px;')
        tr
          td(align='center')
            table
              tbody
                tr
                  td(align='center', style='width: 20px; height: 30px;')
                    | Encuentra los centros de pago en: 
                    span(style='font-weight: bold;') ubicanos.pagoefectivo.pe
        tr
          td(align='center')
            table
              tbody
                tr
                  td(style='width: 10px;')
                  td(style='width: 600px; border: 0.5px solid #b6b6b6; height: 1px;')
                  td(style='width: 10px;')
        tr(height='undefined')
          td(align='center', valign='top', height='10px')
        tr(height='undefined', style='top: 0px; padding: 0px; margin-top: 25px')
          td(align='center', height='100%', valign='top', width='100%')
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', bgcolor='#ffffff')
              tr
                td(style='width: 20px;')
                td(align='left', valign='top', style='font-size:14px; font-family: Arial; padding-bottom: 20px; font-weight: bold;')
                  | Detalle de compra:
              tr(height='undefined')
                td(align='center', valign='top', height='20px')
              tr
                td(style='width: 20px;')
                td(align='left', valign='top', style='font-size:14px; font-family: Arial; padding-bottom: 20px;')
                  | Servicio: [ServicioNombre]
                  br
                  | Monto a Pagar: [Moneda] [Monto]
        tr(height='undefined')
          td(align='center', valign='top', height='20px')
