doctype html

html(lang='es-pe')
  body
    style.
      .center_menu {
        padding: 50px
      }
      a {
        color: blue;
      }
    .content
      .center_menu
        h2 
          | Template generate CIP
        p 
          | Test here your templates in pdf only in admin

