doctype html
html
  head
    meta(charset='UTF-8')
    title Generate Remember CIP
    style(type='text/css').
      /* table td { border: 1px solid cyan;} */
      @media only screen and (max-width: 600px) {
        .wrapper{width:95% !important;}
      }
  body(style='margin:0; padding:0; background-color:#F8F8F8')
    center
      table.wrapper(border='0', cellpadding='0', cellspacing='0', width='100%', bgcolor='#F8F8F8')
        include ./_includes/expired/01-header.pug
        include ./_includes/expired/usd/02-resume.pug
        include ./_includes/global-cip/usd/03-logos.pug
        include ./_includes/global-cip/usd/04-chanels.pug
        include ./_includes/global-cip/usd/05-agencies.pug
        include ./_includes/global-cip/06-buying-date.pug
        include ./_includes/global-cip/07-footer.pug
