doctype html

html(lang='es-pe')
  include ./_includes/head.pug

  body
    style.
      .center_menu {
        padding: 50px
      }
      a {
        color: blue;
      }
    .content
      .center_menu
        h2 
          | Template generate CIP
        p 
          | Test here your templates
        br
        h3
          a(href='/email/cip-generic-pen.html', target='_blank') generic-cip S/
        h3
          a(href='/email/cip-expired-pen.html', target='_blank') generic-cip-remember S/
        hr
        br
        h3
          a(href='/email/cip-generic-usd.html', target='_blank') generic-cip $
        h3
          a(href='/email/cip-expired-usd.html', target='_blank') generic-cip-remember $

  include ./_includes/footer.pug