include ../../../config/variables.pug

tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px;padding:25px;', bgcolor='#f6c100')
      tr
        td(align='left', valign='top', style='font-size:18px; font-weight: bold;')
          img(src=config.cdnMailing + 'pe-header.png')
        td(align='right', valign='middle', style='font-size:20px; font-weight: bold; padding: 0 10px 0 0; font-family: Arial;')
        td(align='right', valign='middle', style='font-size:18px; font-weight: bold; padding: 0 0px 0 0; font-family: Arial;')
          | Recordatorio pago pendiente
    //if (gte mso 9)|(IE)

    //-   td(align='right', valign='middle', style='font-size:20px; font-weight: bold; padding: 0 10px 0 0; font-family: Arial;')
        //-     | Recordatorio
        //-     br
        //-     | pago pendiente
