
<tr>
  <td align="center" valign="top" width="100%">
    <!--if (gte mso 9)|(IE)
    table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
      tr
        td(align='center', valign='top', width='600')
    -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;  border-left: 2px solid #f6c100; border-right: 2px solid #f6c100; padding-top: 30px;" bgcolor="#FFFFFF">
      <tr>
        <td align="left" valign="top" style="font-size:0;">
          <!--if (gte mso 9)|(IE)
          table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
            tr
              td(align='center', valign='top', width='295')
          -->
          <div style="display:inline-block; vertical-align:top; width:100%;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" valign="top" width="100%" style="font-size:13px; font-weight:bold; padding: 5px; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; font-family: Arial;">Agentes y Bodegas</td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-size:13px; font-weight:bold; font-family: Arial; color: #000000; display: inline-block;">
                  <ul>
                    <li style="color: #000000;" color="#000000">Express BBVA Continental</li>
                    <li style="color: #000000;" color="#000000">Agente BCP (*)</li>
                    <li style="color: #000000;" color="#000000">Agente Interbank (**)</li>
                    <li style="color: #000000;" color="#000000">Agente Scotiabank</li>
                    <li style="color: #000000;" color="#000000">Agente Kasnet</li>
                    <li style="color: #000000;" color="#000000">Western Union</li>
                    <li style="color: #000000;" color="#000000">Full Carga (***)</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-size:13px; font-family: Arial; color: #000000;">
                  <ol>
                    <li style="color: #000000;" color="#000000">Indica que vas realizar un pago a la empresa PAGOEFECTIVO.</li>
                    <li style="color: #000000;" color="#000000">Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.</li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-size:12px; font-family: Arial; color: #000000;">
                  <ul style="list-style-type:none;">
                    <li style="color: #000000;" color="#000000">(*) Agentes BCP: Brinda el c&oacute;digo de empresa 02186.</li>
                    <li style="color: #000000;" color="#000000">(**) Agentes Interbank: Brinda el siguiente c&oacute;digo 2735001.</li>
                    <li style="color: #000000;" color="#000000">(***) Encuentra a FullCarga en Bodegas, Farmacias, Cabinas de Internet y Locutorios.</li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)td(align='left', valign='top', width='295')
          -->
          <div style="display:inline-block; vertical-align:top; width:100%; font-family: Arial; color: #000000;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" valign="top" style="font-size:13px; font-weight:bold; padding: 5px; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; font-family: Arial;">Agencias</td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-size:13px; font-weight:bold; font-family: Arial; color: #000000; display: inline-block;">
                  <ul>
                    <li style="color: #000000;" color="#000000">Banco BBVA Continental</li>
                    <li style="color: #000000;" color="#000000">Banco BCP (*)</li>
                    <li style="color: #000000;" color="#000000">Banco Interbank (**)</li>
                    <li style="color: #000000;" color="#000000">Banco Scotiabank</li>
                    <li style="color: #000000;" color="#000000">Banco BanBif</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-size:13px; font-family: Arial; color: #000000;">
                  <ol>
                    <li style="color: #000000;" color="#000000">Indica que vas realizar un pago a la empresa PAGOEFECTIVO.</li>
                    <li style="color: #000000;" color="#000000">Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.</li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-size:12px; font-family: Arial; color: #000000;">
                  <ul style="list-style-type:none;">
                    <li style="color: #000000;" color="#000000">(*) Agencias BCP: Costo adicional S/ 1.00.</li>
                    <li style="color: #000000;" color="#000000">(**) Agencias Money Market de Interbank: Costo adicional S/ 2.00.</li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)-->
        </td>
      </tr>
    </table>
    <!--if (gte mso 9)|(IE)-->
  </td>
</tr>