.generic_logos
  padding 30px 0
  +below($phone)
    padding 20px 0 0
  .box_center
    display flex
    justify-content space-between
    &.is_dollars
      justify-content center
    svg
      margin 0 5px
      +below($phone)
        svg
          width 120px
    +below($tablet)
      flex-direction column
      align-items center
      svg
        margin 20px auto
    +below($phone)
      flex-direction column
      svg
        margin 20px auto

.generic_geo
  @extend .generic_logos
  border-top 0
  padding 0 0 30px

.generic_button
  align-items center
  display flex
  text-decoration none
  color $black
  svg
    width 80px
  +below($tablet)
    svg
      width 70px
  +below($phone)
    flex-direction column
    svg
      width 70px

.generic_button_text
  text-decoration none
  color $black
  set-font-size(15px)
  background $yellow-one
  border-radius 15px
  display flex
  font-weight bold
  margin-left 15px
  padding 12px 15px
  text-align center
  +below($phone)
    padding 10px 20px
    margin-left 0
