.generic_wrapp
  border-left 2px solid $yellow-one
  border-right 2px solid $yellow-one
.generic_wrapp_bottom
  border-bottom 2px solid $yellow-one
  margin-bottom 20px

.generic_title_page
  set-font-size(20px)
  font-weight bold
  padding 60px 0 15px
  text-align center
  +below($phone)
    set-font-size(14px)
    padding 40px 0 30px

.generic_resume_separator
  border-bottom 1px solid $black
  +below($phone)
    width 95%
    margin auto
.box_center
  &.is_inner
    max-width 905px

.generic_logo_group
  align-items center
  display flex
  +below($tablet)
    flex-direction row
  +below($tablet-max)
    img
      padding 30px
  +below($phone-small)
    img
      padding 20px !important
  +below($phone)
    img
      padding 30px

.generic_resume_table
  background $gray-five
  float none
  margin-left auto
  margin-right auto
  max-width 575px
  padding 20px 0 10px
  width auto
  +below($phone)
    max-width 95%

.generic_resume_row
  display flex
  flex-flow row

.generic_resume_td
  set-font-size(22px)
  display flex
  flex-flow column
  padding 5px
  width 50%
  word-break break-word
  justify-content flex-start
  +below($phone)
    set-font-size(14px)  
  strong 
    set-font-size(26px)
    font-weight bold
    +below($phone)
      set-font-size(14px)  
  &.is_odd
    text-align right
  &.is_even
    text-align left

.generic_resume_legal
  set-font-size(14px)
  line-height 1.3
  margin 20px auto
  max-width 610px
  text-align center
  +below($phone)
    set-font-size(12px)
    width 90%
  