.generic_wrapper
  align-items center
  display flex
  margin-top 25px
  +below($tablet)
    display none
  +below($phone)
    display none

.generic_help
  set-font-size(14px)
  color $gray-three
  font-family $basic-font
  line-height 3
  text-align left

.generic_nav
  display flex

.generic_nav_item
  background-color $gray-four
  border none
  border-radius 3px
  display flex
  height 33px
  justify-content center
  margin-left 5px
  text-align center
  width 36px
  svg
    width 18px
    height auto
  &.is_download
    background-color $gray-six
    color $white
    line-height 0
    margin auto
    padding 10px 15px
    set-font-size(15px)
    width auto
.is_top
  margin-top 20px
  +below($phone)
    margin-bottom 20px
.is_bottom
  margin-bottom 20px
.generic_download
  display none
  +below($phone)
    display block
  +below($tablet)
    display block