.generic_title_secundary
  set-font-size(18px)
  align-items center
  background-color #ededed
  color black
  display flex
  font-weight bold
  justify-content center
  padding 15px 0

.generic_subtitle_secundary
  set-font-size(16px)
  align-items center
  border-bottom 1px solid #ededed
  border-top 1px solid #ededed
  color black
  display flex
  font-weight bold
  justify-content center
  margin 20px 0
  padding 10px 0

.generic_list
  padding 20px 20px 0 40px
  &.is_aditional
    padding-left 25px
  &.is_jump_dollar
    padding-bottom 1%
  &.is_jump
    padding-top 10px
    height 25%
    display flex
    flex-flow column wrap
    +below($tablet)
      min-height 35%
  &.is_small
    height 20%
    margin-bottom 3.8%
    +below($tablet)
      margin-bottom 0
  &.is_legal
    padding 20px 20px 20px 25px
  li
    set-font-size(14px)
    line-height 1.25
    &.is_jump_size
      width 55%
      +below($tablet)
        width inherit
      +below($phone)
        line-height 1.75

.generic_list_item
  list-style disc
  strong
    font-weight bold

.generic_content
  set-font-size(14px)

.generic_footer
  set-font-size(14px)
  margin-bottom 30px

.generic_content_paychannel
  set-font-size(14px)
  font-family $basic-font
  font-weight bold
  margin-top 30px

.generic_content_list
  margin-top 20px
  li
    set-font-size(14px)

.generic_content_items
  display flex
  justify-content center
  padding 0 50px 20px 50px
  +below($phone)
    flex-direction column
    padding 0 25px 20px 50px

.generic_content_item
  &.is_left
    list-style disc
    flex 1
    order 1
    font-weight bold
  &.is_right
    flex 2
    order 5
    +below($phone)
      padding-top 20px

.generic_content_rows
  display flex
  justify-content space-between
  +below($phone)
    flex-direction column
    margin-bottom 45px

.generic_content_row
  width 48%
  +below($phone)
    width 100%

.generic_channels
  .generic_content
  .generic_footer
    +below($tablet)
      width 95%
      margin 0 auto 30px
    +below($phone)
      width 85%
      margin 0 auto 30px
