.box
  margin-top remify(5px)
  margin-bottom remify(5px)
  background-color $gray-three

  //tablet
  +above(600px)
      col(1/3, cycle: 3)

  //desktop
  +above(800px)
    col(1/5, uncycle:3, cycle: 5)
