
<script src="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/js/jquery-1.6.1.min.js?v=18099731321777.7" type="text/javascript"></script>
<script src="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/js/slides.min.jquery.js?v=18099731321777.7" type="text/javascript"></script>
<script src="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/js/miniApp.min.js?v=18099731321777.7" type="text/javascript"></script>
<script src="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/js/modules.js?v=18099731321777.7" type="text/javascript"></script>
<script src="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/js/accordion.js?v=18099731321777.7" type="text/javascript"></script>