
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PagoEfectivo - Transacciones Seguras por Internet en el Perú</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="theme-color" content="#FEC90B"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <link rel="stylesheet" type="text/css" href="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/css/GenPagoIF.css?v=31567927386090.25"/>
  <link rel="stylesheet" type="text/css" href="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/css/all.css?v=31567927386090.25"/>
  <link rel="stylesheet" type="text/css" href="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/css/layout.css?v=31567927386090.25"/>
  <link rel="stylesheet" type="text/css" href="https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/css/pagoEfectivo.css?v=31567927386090.25"/>
</head>