tr
  td(align='center', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px;  border-left: 2px solid #f6c100; border-right: 2px solid #f6c100; padding-top: 30px;', bgcolor='#FFFFFF')
      tr
        td(align='left', valign='top', style='font-size:0;')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='left', valign='top', width='295')
          div(style='display:inline-block; vertical-align:top; width:100%;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr
                td(align='center', valign='top', style='font-size:13px; font-weight:bold; padding: 5px; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; font-family: Arial;')
                  | Agentes y Bodegas
              tr
                td(align='left', valign='top', style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000; display: inline-block')
                  ul
                    li(style='color: #000000', color='#000000') Express BBVA Continental
                    li(style='color: #000000', color='#000000') Agente BCP (*)
                    li(style='color: #000000', color='#000000') Agente Interbank (**)
                    li(style='color: #000000', color='#000000') Agente Scotiabank
                    li(style='color: #000000', color='#000000') Western Union

              tr
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000;')
                  ol
                    li(style='color: #000000', color='#000000') Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
                    li(style='color: #000000', color='#000000') Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Dolares.
              tr
                td(align='left', valign='top', style='font-size:12px; font-family: Arial; color: #000000;')
                  ul(style='list-style-type:none')
                    li(style='color: #000000', color='#000000') (*) Agentes BCP: Brinda el c&oacute;digo de empresa 02186.
                    li(style='color: #000000', color='#000000') (**) Agentes Interbank: Brinda el siguiente c&oacute;digo 2735001.

          //if (gte mso 9)|(IE)
            td(align='left', valign='top', width='295')
          div(style='display:inline-block; vertical-align:top; width:100%; font-family: Arial; color: #000000;')
            table.deviceWidth(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr
                td(align='center', valign='top', style='font-size:13px; font-weight:bold; padding: 5px; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; font-family: Arial;')
                  | Agencias
              tr
                td(align='left', valign='top', style='font-size:13px; font-weight:bold; font-family: Arial; color: #000000; display: inline-block')
                  ul
                    li(style='color: #000000', color='#000000') Banco BBVA Continental
                    li(style='color: #000000', color='#000000') Banco BCP (*)
                    li(style='color: #000000', color='#000000') Banco Interbank (**)
                    li(style='color: #000000', color='#000000') Banco Scotiabank
                    li(style='color: #000000', color='#000000') Banco BanBif
              tr
                td(align='left', valign='top', style='font-size:13px; font-family: Arial; color: #000000;')
                  ol
                    li(style='color: #000000', color='#000000') Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
                    li(style='color: #000000', color='#000000') Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Dolares.
              tr
                td(align='left', valign='top', style='font-size:12px; font-family: Arial; color: #000000;')
                  ul(style='list-style-type:none')
                    li(style='color: #000000', color='#000000') (*) Agencias BCP: Costo adicional S/ 1.00.
                    li(style='color: #000000', color='#000000') (**) Agencias Money Market de Interbank: Costo adicional S/ 2.00.
          //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
