style.
    strong {
        font-weight: bold !important;
    }
    .container {
        display: block;
    }
    .container .place_steps {
        padding: 0 5px 20px;
    }
    .payroll_title {
        color: #000000;
        text-align: center;
        padding: 40px 0 0;
        margin: 0;
        font-size: 19px;
        font-weight: 600 !important;
    }
    .payroll_subtitle {
        color: #000000;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 19px;
        font-weight: 600 !important;

    }
    .payment_summary.commerce {
        margin-top: 10px;
    }
    .payment_summary.commerce, .payment_summary .info_payment_summary {
        border: none;
    }

    .is_items .cont_info {
        width: 65%;
    }
    .is_items .cont_info.is_resume {
        width: 100%;
    } 
    .is_items .cont_info.is_resume ul {
        width: 70%;
        margin: auto;
    }
    .is_items .is_items {
        width: 35%;
    }
    .box_searching.is_express {
        margin-bottom: 40px
    }
    .is_express .box_center {
        max-width: 650px;
    }
    .is_disclaimer .payment_methods h4 {
        font-size: 16px;
        font-weight: 100;
        padding: 10px;
    }
    .is_disclaimer .container {
        padding: 0 0 20px;
    }
    .is_columns {
        display: flex;
        flex-direction: row;
        padding: 10px 0 0;
        width: 100%;
    }
    .is_columns .place_steps {
        float: none;
        text-align: center;
        width: 33.33%;
    }
    .payment_summary .content_payment_summary {
        display: flex;
    }
    .payment_summary .content_payment_summary .payment_code {
        display: flex;
        align-items: center;
    }
    .payment_summary .info_payment_summary .content_info p {
        font-size: 15px;
    }
    .payment_summary .content_payment_summary .payment_code .info_code {
        height: auto;
        padding: 0 20px 0 30px;
    }
   .payment_summary .content_payment_summary .payment_code .logo_pagoefectivo_black.logo_express {
        margin: 0;
        height: auto;
        width: 250px;
    }
    .cont_info__count {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        align-self: center;
        background: #000000;
        border-radius: 50%;
        color: #ffffff;
        display: block;
        flex: none;
        font-size: 16px;
        height: 25px;
        margin-right: 10px;
        padding: 5px;
        text-align: center;
        width: 25px;
    }
    .container .cont_info ul li {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .container .cont_info ul li p {
        text-align: left;
    }
    .restrictions {
        padding-top: 30px;
        clear: both;
    }
    .disclaimer {
        color: #939393;
        display: block;
        font-size: 12px;
        line-height: 1.25em;
        margin: auto;
        text-align: center;
        width: 90%;
    }
    @media screen and (max-width: 720px) {
        .box_main {
            margin-top: 0;
        }
        .payment_summary .content_payment_summary .payment_code {
            flex-direction: column;
            padding-top: 0;
        }
        .payment_summary .content_payment_summary .payment_code .logo_pagoefectivo_black.logo_express {
            display: block;
            height: auto;
            width: 100%;
        }
        .payment_summary .content_payment_summary .payment_code .info_code {
            padding: 0 20px 20px 30px;
        }
        .payment_summary .info_payment_summary {
            padding: 0;
        }
        .payment_summary .info_payment_summary .content_info {
            display: flex;
            padding-bottom: 10px;
        }
        .container .cont_logo {
            width: 100%;
        }
        .cont_logo img {
            display: block;
            margin: auto;
            width: 50%;
        }
        .is_items .cont_info {
            width: 100%;
            padding-left: 25px;
        }
        .box_searching.is_express {
            margin-bottom: 0;
        }
        .is_express .container {
            padding: 10px 0 15px;
        }
        .is_items .cont_info.is_resume {
            padding-left: 10px;
        } 
        .is_items .cont_info.is_resume ul {
            width: 100%;
            margin: auto;
        }
    }