- var config = {}
- config.title = 'PagoEfectivo - Transacciones Seguras por Internet en el Perú';
- config.staticUrl = 'https://pre.2b.pagoEfectivo.pe/';
- config.imgUrl = 'http://cdn.mailing.clasificados.pe/Pagoefectivo/';
- config.random = ((Math.random(999)) * (1000 * 100)).toFixed(0);
- config.today = new Date().getTime() / 1000;
- config.urlVersion = config.today * config.random;
- config.cdnMailing = "http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/";
- config.cdnCss = "https://pre.2b.pagoEfectivo.pe/App_Themes/SPE/css/";
//- - config.cdnCss = "/App_Themes/SPE/css/";
//- - config.cdnCss = "http://localhost:3000/web/css/";
- config.styleName = "template.css";
- config.envUrl = "https://ubicanos.pagoefectivo.pe/";
- config.isTemplateEmail = true;
- config.oldQueryString = config.today * 1000;
