.generic_content_items
  ul.generic_content_item.is_left
    li Banco BBVA Continental
  ol.generic_content_item.is_right
    li
      | Seleccione la opci&oacute;n Pago de Servicios > De Instituciones y Empresas > Busca por nombre PAGOEFECTIVO > PAGOEFECTIVO DOLARES.
    li
      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco BCP
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO DOLARES.
    li
      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco Interbank
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n de Pago a Instituciones o Empresa > Empresa: PAGOEFECTIVO > Servicio: PAGOEFECTIVO.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco Scotiabank
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO DOLARES.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco BanBif
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pago de servicios > Busca por Empresa y escribe PAGOEFECTIVO > Selecciona la empresa PAGOEFECTIVO.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
