section.box_center.generic_channels.generic_wrapp.generic_wrapp_bottom
  h2.generic_title_secundary DATOS DE COMPRA
  .box_center.is_inner
    .generic_footer
      h5.generic_content_paychannel
        | Detalle de compra:
      ul.generic_content_list
        li Servicio: [ServicioNombre]
        li Concepto: Compra en [ConceptoPago]
        li N&deg; de Pedido: [NroPedido]
        li Monto a Pagar: [Moneda] [Monto]
