
section.box_searching
  .box_center
    header.generic_header
      svg.generic_header_logo(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 250 58.1')
        style.
          .st00{clip-path:url(#SVGID_2_);}
          .st01{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
          .st02{clip-path:url(#SVGID_2_);fill:#FFCA00;}
          .st03{clip-path:url(#SVGID_2_);fill:#E2AC00;}
          .st04{clip-path:url(#SVGID_2_);fill:#FFDB81;}
          .st05{clip-path:url(#SVGID_2_);fill:#F2B907;}
          .st06{clip-path:url(#SVGID_4_);}
          .st07{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
          .st08{clip-path:url(#SVGID_4_);fill:#FFCA00;}
          .st09{clip-path:url(#SVGID_4_);fill:#E2AC00;}
          .st10{clip-path:url(#SVGID_4_);fill:#FFDB81;}
          .st11{clip-path:url(#SVGID_4_);fill:#F2B907;}
        defs
          path#SVGID_1_(d='M0 0h250v58.1H0z')
        clippath#SVGID_2_
          use(xlink:href='#SVGID_1_', overflow='visible')
        path.st00(d='M81.7 16.6C80 15.5 77.6 15 74.5 15c-3 0-5.6.2-7.8.4-.4.1-.7.2-1 .3-.2.2-.4.4-.5.7l-.6 3h8.5l.4-2.8 5.6 6.8-7.7 6.7.5-3.1h-8.8l-2.6 12.9v.1c0 .2.1.3.2.4.1.1.3.2.4.2H65c.2 0 .4-.1.6-.2.2-.1.3-.3.3-.5l1.8-7.7h3.4c2.2 0 4.1-.2 5.8-.7 1.7-.5 3.2-1.3 4.4-2.4 1.2-1.2 2.1-4 2.7-6l.1-.3c.1-.3.1-.7.1-1.2v-.5c.1-2-.7-3.5-2.5-4.5M91.7 38l.9-4.9h-2.5c-1.3 0-2.2.2-2.8.5-.5.4-.9 1-1 2 0 .3-.1.6-.1.8 0 .6.2 1.1.7 1.4.5.3 1.3.5 2.4.5 1-.1 1.8-.2 2.4-.3m-.8-12.1c-.9 0-1.8.1-2.6.2-.8.2-1.7.4-2.7.6-.2.1-.4.1-.5.1-.2 0-.3-.1-.3-.3 0-.1 0-.4.1-.8l.3-1.7c0-.1 0-.3.1-.4.1-.1.1-.2.2-.3.1-.1.3-.1.5-.2 1.9-.6 3.9-1 6-1 1.9 0 3.4.4 4.4 1.2 1 .8 1.5 2 1.5 3.6 0 .5 0 1-.1 1.5l-2 11.4c0 .2-.1.4-.2.5-.1.1-.2.2-.4.2-.8.2-1.5.4-1.9.5-.5.1-1.1.2-1.8.3-.7.1-1.6.1-2.6.1-4.6 0-7-1.6-7-4.7 0-.4.1-.9.1-1.5.2-1 .4-1.8.8-2.5s.9-1.2 1.5-1.6c.7-.4 1.5-.7 2.5-.9 1-.2 2.3-.3 3.7-.3h2.6c.2-1.3.4-2.1.4-2.3 0-.7-.2-1.2-.6-1.5-.4-.1-1.1-.2-2-.2M112 26.1c-.4-.1-.9-.2-1.4-.2-.5-.1-1.1-.1-1.8-.1-.9 0-1.6.2-2.2.5-.6.3-1.1.9-1.4 1.5-.3.7-.6 1.6-.8 2.7l-.4 2.6c-.2.9-.2 1.6-.2 2.1 0 .9.2 1.6.7 2 .5.4 1.2.7 2.3.7.9 0 1.9-.1 3.2-.3l2-11.5zM105.4 48c-1.1 0-2.2-.1-3.3-.4-1.2-.3-2.2-.6-3-1-.4-.2-.5-.4-.5-.7v-.2l.3-1.6c.1-.4.2-.6.5-.6h.3c.8.2 1.8.4 2.9.6s2.1.2 3.1.2c1.3 0 2.2-.2 2.7-.7.5-.4.9-1.2 1-2.3V41c-1.2.2-2.2.3-3 .3-2.1 0-3.7-.5-5-1.5-1.3-1-1.9-2.6-1.9-4.8 0-.7.1-1.4.2-2l.4-2.6c.4-2.1.9-3.7 1.7-4.9.8-1.2 1.8-2.1 3.1-2.6s2.8-.8 4.7-.8c1.1 0 2.2.1 3.4.2s2.3.4 3.2.6c.3.1.5.2.6.2.1.1.2.2.2.4v.2l-3 17.2c-.3 1.7-.8 3-1.4 3.9-.6 1-1.5 1.7-2.6 2.1-1.3.8-2.8 1.1-4.6 1.1M129.8 29.1c0-1-.2-1.8-.7-2.3-.5-.5-1.2-.8-2.2-.8-1.1 0-2 .4-2.8 1.1-.8.7-1.3 1.9-1.6 3.4l-.5 2.7c-.1.5-.1 1-.1 1.5 0 2 1 3 2.9 3 2.3 0 3.8-1.5 4.4-4.5l.5-2.7c.1-.4.1-.9.1-1.4m4.5-.3c0 .5-.1 1.1-.2 1.7l-.5 2.7c-1 5.5-4.2 8.3-9.4 8.3-1.4 0-2.6-.3-3.7-.9-1-.6-1.8-1.4-2.3-2.4-.5-1-.7-2.1-.7-3.4 0-.6 0-1.1.1-1.6l.5-2.7c.5-2.8 1.6-4.8 3.1-6.2 1.6-1.4 3.7-2.1 6.3-2.1 1.5 0 2.8.3 3.8.9 1 .6 1.7 1.4 2.2 2.4.5 1 .8 2.1.8 3.3M154.7 16.9v.2l-.4 2.1c0 .2-.1.3-.3.5-.2.1-.3.2-.5.2h-6.8c-1 0-1.7.2-2.1.6-.5.4-.8 1.2-1 2.3l-.6 3.6h9c.2 0 .3.1.4.2.1.1.2.2.2.4v.1l-.4 2.4c0 .2-.1.3-.3.5s-.3.2-.5.2h-9l-.7 4.3c-.1.4-.1.8-.1 1.1 0 .7.2 1.1.5 1.4.3.3.9.4 1.7.4h6.8c.3 0 .5.2.5.5v.1l-.4 2.1c-.1.4-.3.6-.8.7-.2 0-.6.1-.9.1-.4.1-.9.1-1.6.2-.7.1-1.3.1-1.7.1h-2.2c-2 0-3.6-.4-4.8-1.3-1.2-.9-1.8-2.2-1.8-4 0-.6 0-1.1.1-1.6l2-11.7c.3-1.5.7-2.6 1.2-3.6.5-.9 1.2-1.6 1.9-2.1s1.6-.8 2.5-1c.9-.2 2-.2 3.3-.2 1.8 0 3.1 0 3.9.1l2.4.3c.3.4.5.6.5.8M168 16l-.3 2c0 .2-.1.3-.2.4-.1.1-.2.2-.4.2h-1.5c-.6 0-1 .1-1.3.2-.3.1-.5.3-.7.6-.2.3-.3.7-.4 1.3l-.3 1.6h3.2c.4 0 .6.2.6.6v.1l-.4 2c0 .2-.1.3-.3.5-.1.1-.3.2-.5.2h-3.2l-2.8 15.7c-.3 1.5-.7 2.6-1.3 3.4-.6.8-1.3 1.3-2.2 1.6-.9.2-1.9.4-3.2.4-.5 0-1.1-.1-2-.3-.1 0-.2-.1-.3-.2-.1-.1-.2-.2-.2-.3v-.1l.3-2c.1-.4.3-.6.6-.6h1.5c.8 0 1.4-.1 1.7-.4.3-.3.5-.8.7-1.6l2.8-15.7-2.9-.5c-.3-.1-.5-.2-.5-.5v-.1l.3-1.5c0-.2.1-.4.3-.5.1-.1.3-.2.5-.2h3l.3-1.6c.2-1.2.5-2.1.9-2.8.4-.7.9-1.3 1.4-1.6.6-.4 1.2-.6 1.9-.7.7-.1 1.5-.2 2.5-.2.5 0 1.1.1 2 .3.1 0 .2.1.4.1v.2M177.5 28.8c0-1-.2-1.7-.7-2.2s-1.2-.8-2.1-.8c-2.4 0-3.8 1.4-4.3 4.2h7.1c-.1-.5 0-.9 0-1.2m-5.2 12.5c-1.1 0-2.1-.1-2.9-.4-.9-.3-1.6-.7-2.2-1.3-.6-.6-1.1-1.3-1.4-2.1-.3-.8-.5-1.8-.5-2.9 0-.7.1-1.4.2-2l.4-2.1c.5-3 1.6-5.2 3.2-6.5 1.6-1.3 3.7-2 6.3-2 2.1 0 3.8.6 4.9 1.9 1.1 1.3 1.7 2.9 1.7 4.9 0 .6-.1 1.2-.2 1.9l-.3 1.6c-.1.6-.4.8-.8.8h-10.9c-.1.8-.2 1.2-.2 1.4 0 1 .3 1.7.8 2.2.6.5 1.5.8 2.9.8 1.7 0 3.7-.3 5.9-1h.3c.2 0 .3.1.3.3v.2l-.4 2.1c0 .2-.1.4-.2.5-.1.1-.3.2-.7.4l-1.8.6c-.6.2-1.3.3-2.1.4-.8.3-1.6.3-2.3.3M189.3 41.3c-.9 0-1.8-.1-2.6-.4-.8-.3-1.4-.7-2-1.3-.6-.6-1-1.3-1.3-2.1-.3-.8-.4-1.6-.4-2.6 0-.5.1-1 .2-1.7l.6-3.1c.4-2 1-3.6 1.8-4.8.9-1.2 1.9-2 3.1-2.5 1.2-.5 2.5-.7 4-.7s2.9.4 4.3 1.1c.4.2.6.4.6.7v.2l-.4 2c0 .4-.2.6-.5.6h-.3c-1.7-.5-3-.7-3.8-.7-1.2 0-2.1.3-2.8 1-.7.6-1.2 1.8-1.5 3.4l-.6 3.1c-.1.7-.2 1.2-.2 1.6 0 .9.2 1.6.7 2.1.5.4 1.2.7 2.2.7 1 0 2.4-.3 4.1-.8h.3c.2 0 .3.1.3.3v.2l-.4 2.3c0 .2-.1.4-.2.5-.1.1-.3.2-.6.4-.6.2-1.2.5-2 .6-.9-.2-1.7-.1-2.6-.1M210.1 22.8l-.3 2.1c0 .2-.1.3-.3.5-.2.1-.3.2-.5.2h-3L204.2 36c-.1.5-.2.9-.2 1.2 0 .3.1.5.2.6.2.1.5.1.9.1h1.8c.4 0 .6.1.6.4v.1l-.4 2.1c-.1.3-.3.5-.7.6-1 .2-1.7.2-2.3.2-1.5 0-2.7-.3-3.4-.9-.8-.6-1.1-1.5-1.1-2.8 0-.4.1-1 .2-1.6l1.8-10.5-3.1-.5c-.4 0-.5-.2-.5-.6v-.1l.3-1.5c0-.2.1-.4.3-.5.1-.1.3-.2.5-.2h3.1l.5-2.7c.1-.4.3-.6.8-.7l3.2-.5h.1c.3 0 .5.1.5.4v.1l-.6 3.4h3c.2 0 .3.1.4.2v.5M217.7 16l-.5 3c0 .2-.1.4-.3.5-.2.1-.3.2-.5.2h-3.2c-.2 0-.3-.1-.4-.2-.1-.1-.2-.2-.2-.4V19l.5-2.9c0-.2.1-.3.3-.5.2-.1.3-.2.5-.2h3.2c.4.1.6.2.6.6m-1.3 6.8l-3.1 17.6c0 .2-.1.3-.3.5-.2.1-.3.2-.5.2h-3.1c-.2 0-.3-.1-.4-.2-.1-.1-.2-.2-.2-.4v-.1l3.1-17.5c0-.2.1-.4.3-.5.1-.1.3-.2.5-.2h3.1c.4 0 .6.2.6.6M234.9 22.7c0 .1 0 .2-.1.3L228 38.2c-.5 1.1-1.2 1.9-2 2.4s-1.7.7-2.7.7c-2.2 0-3.4-1-3.6-3.1L218.2 23v-.1c0-.2.1-.3.2-.5.1-.1.3-.2.4-.2h3.2c.3 0 .5.2.6.7l.7 14c0 .6.2.8.5.8s.5-.3.8-.8l5.7-14c.2-.4.4-.7.8-.7h3.5c.2 0 .3.2.3.5M245.6 28.8c0-1-.2-1.8-.7-2.3-.5-.5-1.2-.8-2.2-.8-1.1 0-2 .4-2.8 1.1-.8.7-1.3 1.9-1.6 3.4l-.5 2.7c-.1.5-.1 1-.1 1.5 0 2 1 3 2.9 3 2.3 0 3.8-1.5 4.4-4.5l.5-2.7c0-.3.1-.8.1-1.4m4.4-.2c0 .5-.1 1.1-.2 1.7l-.5 2.7c-1 5.5-4.2 8.3-9.4 8.3-1.4 0-2.6-.3-3.7-.9-1-.6-1.8-1.4-2.3-2.4-.5-1-.7-2.1-.7-3.4 0-.6 0-1.1.1-1.6l.5-2.7c.5-2.8 1.6-4.8 3.1-6.2 1.6-1.4 3.7-2.1 6.3-2.1 1.5 0 2.8.3 3.8.9 1 .6 1.7 1.4 2.2 2.4.6.9.8 2.1.8 3.3')
        path.st01(d='M54.2 27.7c-.3-1-1.1-2-2-2.9l.1.1S36.4 9.1 12 .6c0 0-4.3-1.9-7.5 1.5-.8.9-1.4 2.7-1.8 4.2 0 .3-.1.5-.1.7-.2 1-.4 1.9-.5 2.2-1.4 7.1-3.9 24-.3 43.3 0 0 .8 5.1 5.3 5.6 2.6.3 4.6-.6 7.1-1.6 7-2.5 22.9-9 37.5-21.5.1-.1 3.8-2.8 2.5-7.3')
        path.st02(d='M8.6 5.4s31 9.6 41 20.7c0 0-24.2 24.9-39.1 29.4 0 0-9.3-23.8-6.4-45.4 0 0 .4-6.1 4.5-4.7')
        path.st03(d='M11.4 55.3S31.2 49.9 49 34.6c0 0 3.4-2.5 2.2-6.6-.6-2.1-4-4.6-4.5-5.1 0 0 .4 12.8-35.3 32.4')
        path.st04(d='M49.5 25.4S35 11 12.8 3.2c0 0-3.9-1.7-6.8 1.4-1.5 1.6-2 5.7-2.2 6.5 0 0 10.8-6.8 45.7 14.3')
        path.st05(d='M4.5 7.9s-5.3 19.5-1 42.6c0 0 .7 4.6 4.8 5.1 2.5.3 4.3-.6 6.8-1.6 0 0-11.7-5.4-10.6-46.1')
        path.st00(d='M33.3 17.5c-2-1.2-4.8-1.9-8.5-1.9-3.5 0-6.5.2-9.1.5-.5.1-.9.2-1.1.4-.3.2-.5.4-.6.8l-.7 3.5h10l.5-3.2 6.5 7.9-9.1 7.8.6-3.6H11.5l-3 15.1v.2c0 .2.1.4.2.5.1.1.3.2.5.2h4.6c.2 0 .5-.1.7-.2.2-.1.3-.3.4-.6l2.1-9h4.2c2.5 0 4.8-.3 6.8-.8s3.7-1.5 5.2-2.9c1.4-1.4 2.5-4.6 3.1-7.1l.1-.4c.1-.3.1-.8.1-1.4v-.6c-.2-2.2-1.2-3.9-3.2-5.2')

      h3.generic_header_title
        | Informaci&oacute;n para tu pago
