style.
  .container {
    display: block;
  }
  .generic_content_item.is_left li {
    list-style: disc;
  }
  .generic_content_item.is_right li {
    list-style-type: decimal;
  }
  ol.generic_list li {
    list-style-type: decimal;
  }
  ol {
    margin-left: 0;
  }
  html{font-size:16px}
  body{font-family:geogtq-md,arial,sans-serif;background:#fff;margin:0;padding:0;-webkit-text-size-adjust:100%}
  hr{margin:1.5em 0;text-align:center;border:none;}
  hr.special{border:none;height:1px}
  hr.special:after{background:#fff;content:"o";font-size:16px;padding:0 .25em;position:relative;top:-13px}
  @media only screen and (max-width:400px){hr.special{display:block}}
  ul.bullets{list-style-type:disc;margin-left:15px!important}
  .box_main{margin-top:45px}
  .box_main.box_affiliate{margin-top:80px}
  .box_introduction{font-family:geog-mdit,arial,sans-serif;width:545px;float:left}
  .box_introduction span{font-family:geog-sbit,arial,sans-serif}
  .box_introduction figure{margin:0 0 20px}
  .box_introduction figure img{display:block;max-width:110%;margin:0 0 0 -10%}
  .box_form{position:relative;width:415px;float:right;background:#7c7c7c}
  .box_form>#promo{position:absolute;width:130px;height:257px;left:-130px;top:10px}
  .box_center{position:relative;width:auto;max-width:960px;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0}
  .box_center:after,.box_center:before{content:'';display:table}
  .box_center:after{clear:both}
  .box_center .tools_log>ul>li{font-family:geog-mdit,arial,sans-serif;font-size:17px}
  .box_center .tools_log>ul>li>a{color:#fff;text-decoration:underline;transition:all .3s linear 0s;-webkit-transition:all .3s linear 0s;-moz-transition:all .3s linear 0s}
  .box_center .tools_log>ul>li>a:hover{color:#feca00}

  h3{text-transform:uppercase;font-size:38.5px;margin:0 0 20px}
  h3 b{font-family:geog-sbit,arial,sans-serif}
  h4{font-size:22px;margin:0 0 10px}
  h5{font-size:18px;font-family:geog-mdit,arial,sans-serif;margin:0 0 15px}
  .row:after,.row:before{content:'';display:table}
  .row:after{clear:both}
  a{text-decoration:none;color:#000;outline:0}
  a:focus{outline:-webkit-focus-ring-color auto 5px;outline:#333 dotted thin;outline-offset:-2px}
  a:active,a:hover{outline:0}
  *{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;margin:0;padding:0}body{font-family:'Arial',sans-serif;font-weight:normal;color:#000;background-color:#fff}h1,h2,h3,h4,h5{margin:0;padding:0}strong{font-family:'Arial',sans-serif}.generic_header{-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center;background:#f6c100;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;margin-top:20px;padding:15px 30px;}.generic_header svg{width:250px;height:60px}@media only screen and (max-width:480px){.generic_header{margin-top:0;padding:10px 20px}.generic_header svg{width:130px;height:30px}}.generic_header_title{font-size:28px;font-size:1.75rem;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;font-family:'Arial',sans-serif;font-weight:bold;margin-left:auto;line-height:1;text-align:right;text-transform:none;}@media only screen and (max-width:480px){.generic_header_title{font-size:15px;font-size:.9375rem;width:30%}}.generic_wrapper{-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;margin-top:25px;}@media only screen and (max-width:768px){.generic_wrapper{display:none}}@media only screen and (max-width:480px){.generic_wrapper{display:none}}.generic_help{font-size:14px;font-size:.875rem;color:#535353;font-family:'Arial',sans-serif;line-height:3;text-align:left}.generic_nav{display:-webkit-box;display:-ms-flexbox;display:box;display:flex}.generic_nav_item{background-color:#b5b5b5;border:none;-webkit-border-radius:3px;-moz-boder-radius:3px;border-radius:3px;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;height:33px;-webkit-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-left:5px;text-align:center;width:36px;}.generic_nav_item svg{width:18px;height:auto}.generic_nav_item.is_download{background-color:#414141;color:#fff;line-height:0;margin:auto;padding:10px 15px;font-size:15px;font-size:.9375rem;width:auto}.is_top{margin-top:20px;}@media only screen and (max-width:480px){.is_top{margin-bottom:20px}}.is_bottom{margin-bottom:20px}.generic_download{display:none;}@media only screen and (max-width:480px){.generic_download{display:block}}@media only screen and (max-width:768px){.generic_download{display:block}}.generic_title_secundary{font-size:18px;font-size:1.125rem;-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center;background-color:#ededed;color:#000;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;font-weight:bold;-webkit-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:15px 0}.generic_subtitle_secundary{font-size:16px;font-size:1rem;-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center;border-bottom:1px solid #ededed;border-top:1px solid #ededed;color:#000;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;font-weight:bold;-webkit-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:20px 0;padding:10px 0}.generic_list{padding:20px 20px 0 40px;}.generic_list.is_aditional{padding-left:25px}.generic_list.is_jump_dollar{padding-bottom:1%}.generic_list.is_jump{padding-top:10px;height:25%;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-o-box-orient:vertical;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-ms-flex-flow:column wrap;flex-flow:column wrap;}@media only screen and (max-width:768px){.generic_list.is_jump{min-height:35%}}.generic_list.is_small{height:20%;margin-bottom:3.8%;}@media only screen and (max-width:768px){.generic_list.is_small{margin-bottom:0}}.generic_list.is_legal{padding:20px 20px 20px 25px}.generic_list li{font-size:14px;font-size:.875rem;line-height:1.25;}.generic_list li.is_jump_size{width:55%;}@media only screen and (max-width:768px){.generic_list li.is_jump_size{width:inherit}}@media only screen and (max-width:480px){.generic_list li.is_jump_size{line-height:1.75}}.generic_list_item{list-style:disc;}.generic_list_item strong{font-weight:bold}.generic_content{font-size:14px;font-size:.875rem}.generic_footer{font-size:14px;font-size:.875rem;margin-bottom:30px}.generic_content_paychannel{font-size:14px;font-size:.875rem;font-family:'Arial',sans-serif;font-weight:bold;margin-top:30px}.generic_content_list{margin-top:20px;}.generic_content_list li{font-size:14px;font-size:.875rem}.generic_content_items{display:-webkit-box;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0 50px 20px 50px;}@media only screen and (max-width:480px){.generic_content_items{-webkit-box-orient:vertical;-o-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;padding:0 25px 20px 50px}}.generic_content_item.is_left{list-style:disc;-webkit-box-flex:1;-o-box-flex:1;box-flex:1;-ms-flex:1;flex:1;-webkit-box-ordinal-group:1;-o-box-ordinal-group:1;-ms-flex-order:1;order:1;font-weight:bold}.generic_content_item.is_right{-webkit-box-flex:2;-o-box-flex:2;box-flex:2;-ms-flex:2;flex:2;-webkit-box-ordinal-group:5;-o-box-ordinal-group:5;-ms-flex-order:5;order:5;}@media only screen and (max-width:480px){.generic_content_item.is_right{padding-top:20px}}.generic_content_rows{display:-webkit-box;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}@media only screen and (max-width:480px){.generic_content_rows{-webkit-box-orient:vertical;-o-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;margin-bottom:45px}}.generic_content_row{width:48%;}@media only screen and (max-width:480px){.generic_content_row{width:100%}}@media only screen and (max-width:768px){.generic_channels .generic_content,.generic_channels .generic_footer{width:95%;margin:0 auto 30px}}@media only screen and (max-width:480px){.generic_channels .generic_content,.generic_channels .generic_footer{width:85%;margin:0 auto 30px}}.clearfix{zoom:1}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.generic_wrapp{border-left:2px solid #f6c100;border-right:2px solid #f6c100}.generic_wrapp_bottom{border-bottom:2px solid #f6c100;margin-bottom:20px}.generic_title_page{font-size:20px;font-size:1.25rem;font-weight:bold;padding:60px 0 15px;text-align:center;}@media only screen and (max-width:480px){.generic_title_page{font-size:14px;font-size:.875rem;padding:40px 0 30px}}.generic_resume_separator{border-bottom:1px solid #000;}@media only screen and (max-width:480px){.generic_resume_separator{width:95%;margin:auto}}.box_center.is_inner{max-width:905px}.generic_logo_group{-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;}@media only screen and (max-width:768px){.generic_logo_group{-webkit-box-orient:horizontal;-o-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row}}@media only screen and (max-width:640px){.generic_logo_group img{padding:30px}}@media only screen and (max-width:320px){.generic_logo_group img{padding:20px !important}}@media only screen and (max-width:480px){.generic_logo_group img{padding:30px}}.generic_resume_table{background:#ededed;float:none;margin-left:auto;margin-right:auto;max-width:575px;padding:20px 0 10px;width:auto;}@media only screen and (max-width:480px){.generic_resume_table{max-width:95%}}.generic_resume_row{display:-webkit-box;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-o-box-orient:horizontal;-ms-flex-flow:row;flex-flow:row}.generic_resume_td{font-size:22px;font-size:1.375rem;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-o-box-orient:vertical;-ms-flex-flow:column;flex-flow:column;padding:5px;width:50%;word-break:break-word;-webkit-box-pack:start;-o-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;}@media only screen and (max-width:480px){.generic_resume_td{font-size:14px;font-size:.875rem}}.generic_resume_td strong{font-size:26px;font-size:1.625rem;font-weight:bold;}@media only screen and (max-width:480px){.generic_resume_td strong{font-size:14px;font-size:.875rem}}.generic_resume_td.is_odd{text-align:right}.generic_resume_td.is_even{text-align:left}.generic_resume_legal{font-size:14px;font-size:.875rem;line-height:1.3;margin:20px auto;max-width:610px;text-align:center;}@media only screen and (max-width:480px){.generic_resume_legal{font-size:12px;font-size:.75rem;width:90%}}.generic_logos,.generic_geo{padding:30px 0;}@media only screen and (max-width:480px){.generic_logos,.generic_geo{padding:20px 0 0}}.generic_logos .box_center,.generic_geo .box_center{display:-webkit-box;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}.generic_logos .box_center.is_dollars,.generic_geo .box_center.is_dollars{-webkit-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;justify-content:center}.generic_logos .box_center svg,.generic_geo .box_center svg{margin:0 5px;}@media only screen and (max-width:480px){.generic_logos .box_center svg svg,.generic_geo .box_center svg svg{width:120px}}@media only screen and (max-width:768px){.generic_logos .box_center,.generic_geo .box_center{-webkit-box-orient:vertical;-o-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center}.generic_logos .box_center svg,.generic_geo .box_center svg{margin:20px auto}}@media only screen and (max-width:480px){.generic_logos .box_center,.generic_geo .box_center{-webkit-box-orient:vertical;-o-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.generic_logos .box_center svg,.generic_geo .box_center svg{margin:20px auto}}.generic_geo{border-top:0;padding:0 0 30px}.generic_button{-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;text-decoration:none;color:#000;}.generic_button svg{width:80px}@media only screen and (max-width:768px){.generic_button svg{width:70px}}@media only screen and (max-width:480px){.generic_button{-webkit-box-orient:vertical;-o-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.generic_button svg{width:70px}}.generic_button_text{text-decoration:none;color:#000;font-size:15px;font-size:.9375rem;background:#f6c100;-webkit-border-radius:15px;-moz-boder-radius:15px;border-radius:15px;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;font-weight:bold;margin-left:15px;padding:12px 15px;text-align:center;}@media only screen and (max-width:480px){.generic_button_text{padding:10px 20px;margin-left:0}}
.box_center
  section.generic_wrapper
    h5.generic_help
      | Enviar instrucciones v&iacute;a:
    ul.generic_nav
      //- button.generic_nav_item()
        svg(xmlns='http://www.w3.org/2000/svg', width='83.6', height='65', viewbox='0 0 83.6 65')
          path(d='M7.9 2.7l32.5 27 .1.1c.8.7 1.9.7 2.6 0l.1-.1 32.5-27c.1-.1.2-.1.3-.2C73.5 1 70.6 0 67.5 0H16c-3.1 0-6 .9-8.5 2.5.1 0 .3.1.4.2z')
          path(d='M81.5 8.1c-.2.3-.4.5-.7.7l-32.4 27c-1.9 1.6-4.2 2.5-6.6 2.5s-4.7-.8-6.6-2.5L2.8 8.8c-.3-.2-.5-.5-.7-.7C.8 10.4 0 13.1 0 16v33c0 8.8 7.2 16 16 16h51.6c8.8 0 16-7.2 16-16V16c0-2.9-.8-5.6-2.1-7.9z')

      //- button.generic_nav_item()
        svg(xmlns='http://www.w3.org/2000/svg', width='50', height='100', viewbox='0 0 50 100')
          style.
            .st0{fill:none;}
          circle.st0(cx='25', cy='91.2', r='3.8')
          path.st0(d='M16.9 10h16.2c1 0 1.9-.8 1.9-1.9 0-1-.8-1.9-1.9-1.9H16.9c-1 0-1.9.8-1.9 1.9 0 1.1.8 1.9 1.9 1.9z')
          path(d='M40 0H10C4.5 0 0 4.5 0 10v80c0 5.5 4.5 10 10 10h30c5.5 0 10-4.5 10-10V10c0-5.5-4.5-10-10-10zM16.9 6.2h16.2c1 0 1.9.8 1.9 1.9 0 1-.8 1.9-1.9 1.9H16.9c-1 0-1.9-.8-1.9-1.9 0-1 .8-1.9 1.9-1.9zM25 95c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8s3.8 1.7 3.8 3.8c0 2.1-1.7 3.8-3.8 3.8zm20-12.5H5V15h40v67.5z')

      button.generic_nav_item(type='button', onclick="[token]") 
        svg(xmlns='http://www.w3.org/2000/svg', width='444.9', height='413.8', viewbox='0 0 444.9 413.8')
          path(d='M153.233-.022c-23.8 0-43 19.2-43 43v25.1h224.4v-25.1h.1c0-23.7-19.3-43-43-43h-138.5zm-106.6 84.5c-25.8 0-46.6 21-46.6 46.7v149.6c0 25.8 20.8 46.6 46.6 46.6h22.5v-78.1c0-13.5 11.2-24.6 24.6-24.6h257.5c13.6 0 24.6 11.2 24.6 24.6v78.1h22.5c25.9 0 46.7-20.8 46.7-46.6v-149.6c0-25.7-20.8-46.7-46.7-46.7h-351.7zm274.8 46.3h26.4c5.9 0 10.8 4.8 10.8 10.8v26.3c0 6-4.8 10.8-10.8 10.8h-26.4c-5.9 0-10.7-4.8-10.7-10.8v-26.3c0-6 4.8-10.8 10.7-10.8zm-227.7 110.4c-4.5 0-8.2 3.6-8.2 8.2v156.2c0 4.5 3.6 8.3 8.2 8.3h257.5c4.5 0 8.3-3.7 8.3-8.3v-156.2c0-4.6-3.7-8.2-8.3-8.2h-257.5zm8.2 16.4h241.1v139.8h-241.1v-139.8zm31.8 27.3c-4.5 0-8.3 3.7-8.3 8.2 0 4.5 3.7 8.2 8.3 8.2h176.5c4.5 0 8.2-3.6 8.2-8.2s-3.6-8.2-8.2-8.2h-176.5zm0 35.1c-4.5 0-8.3 3.7-8.3 8.3 0 4.5 3.7 8.2 8.3 8.2h176.5c4.5 0 8.2-3.6 8.2-8.2s-3.6-8.3-8.2-8.3h-176.5zm0 35.3c-4.5 0-8.3 3.7-8.3 8.3 0 4.5 3.7 8.2 8.3 8.2h176.5c4.5 0 8.2-3.6 8.2-8.2s-3.6-8.3-8.2-8.3h-176.5z')

      //- button.generic_nav_item
        svg(xmlns='http://www.w3.org/2000/svg', width='96', height='96', viewbox='0 0 96 96')
          path(d='M81 63v18H15V63H0v24c0 5 4 9 9 9h78c5 0 9-4 9-9V63H81z')
          path(d='M46.2 68.1c.7 1 2.1 1.2 3 .5.2-.1.3-.3.5-.5L70.2 40c.5-.7.4-1.7-.4-2.2-.3-.2-.6-.3-.9-.3H57V0H39v37.5H27.1c-.9 0-1.6.7-1.6 1.6 0 .3.1.6.3.9l20.4 28.1z')

