include ../../../config/variables

section.generic_logos
  .box_center.is_inner
    .generic_logo_group
      img(src=config.cdnMailing + 'logo-bbva.png')
      img(src=config.cdnMailing + 'logo-bcp.png')
    .generic_logo_group
      img(src=config.cdnMailing + 'logo-interbank.png')
      img(src=config.cdnMailing + 'logo-scotiabank.png')
    .generic_logo_group
      img(src=config.cdnMailing + 'logo-banbif.png')
      img(src=config.cdnMailing + 'logo-wu.png')
    .generic_logo_group
      img(src=config.cdnMailing + 'logo-kasnet.png')
      img(src=config.cdnMailing + 'logo-fullcarga.png')
  //- .box_center.is_inner
    .generic_logo_group
      svg(xmlns='http://www.w3.org/2000/svg', width='120', height='11.8', viewbox='0 0 120 11.8')
        style.
          .st0{fill:#233977;}
        path.st0(d='M55 10.8c-1.8 0-2.9-1.3-2.9-3.4C52.1 5.2 53.2 4 55 4c1.8 0 2.9 1.3 2.9 3.4 0 2.1-1.1 3.4-2.9 3.4m10.3-7.9c-1.2 0-2.3.4-3.5 1.2 0-.7 0-1-.6-1h-.6v8.8h1.2V5.3C63 4.4 64.1 4 65 4c1 0 1.5.4 1.5 1.4v6.3h1.2V5.3c0-1.5-.8-2.4-2.4-2.4m6 6.7V4h2.2V3h-2.2V.6h-1.2v2.3H69v1h1.1v5.7c0 1.4.7 2.1 2.2 2.1.5 0 1-.1 1.3-.1h.2v-.9h-1.2c-1 0-1.3-.2-1.3-1.1m4.8-9c-.4 0-.8.3-.8.8 0 .4.3.8.8.8.4 0 .7-.3.7-.8.1-.4-.3-.8-.7-.8M76 3h-.5v8.8h1.2V4.1c0-.8 0-1.1-.7-1.1m7.5-.1c-1.2 0-2.3.4-3.5 1.2 0-.7 0-1-.6-1h-.6v8.8H80V5.3c1.2-.9 2.2-1.3 3.1-1.3 1 0 1.5.4 1.5 1.4v6.3h1.2V5.3c0-1.5-.8-2.4-2.3-2.4m17.4 0c-1.2 0-2.3.4-3.5 1.2 0-.7 0-1-.6-1h-.6v8.8h1.2V5.3c1.2-.9 2.2-1.3 3.2-1.3s1.5.4 1.5 1.4v6.3h1.2V5.3c0-1.5-.8-2.4-2.4-2.4m5.9 6.7V4h2.2V3h-2.2V.6h-1.2v2.3h-1.1v1h1.1v5.7c0 1.4.7 2.1 2.2 2.1.5 0 1-.1 1.3-.1h.2v-.9H108c-.9 0-1.2-.2-1.2-1.1M119.3.1h-.5v11.7h1.2V1.1c0-.7-.1-1-.7-1m-3.7 9.4c-.3.4-.6.7-1 .9-.4.2-.9.4-1.5.4-.3 0-.5 0-.7-.1-.2 0-.3-.1-.4-.2-.2-.1-.3-.3-.5-.5-.1-.2-.2-.5-.2-.9 0-.3.1-.5.2-.7.1-.1.2-.3.3-.4.2-.2.5-.3.8-.4.3-.1.7-.1 1.1-.1.7 0 1.4.1 1.9.2v1.8zm.5-5.9c-.3-.3-.6-.5-1-.6-.4-.1-.9-.2-1.3-.2-1.7 0-2.6.5-3.2.8.4 1 .9.7 1.5.5.5-.2 1-.3 1.6-.3.3 0 .6.1.8.1.2 0 .3.1.4.2.2.1.3.3.5.5.1.2.2.5.2.8v1.2c-.6-.1-1.3-.2-2-.2-.5 0-1 .1-1.4.2l-.9.3c-.4.2-.7.5-.9.9-.2.4-.3.8-.3 1.3 0 .4.1.8.2 1.1.2.5.6.9 1 1.1.5.3 1 .4 1.6.4.7 0 1.3-.1 1.8-.4l.9-.6v.3c0 .1 0 .2.1.3 0 .1.1.1.1.2.1.1.2.1.3.1h.7V5.4c0-.5-.1-.8-.2-1.2-.1-.2-.3-.5-.5-.6m-70-2.5h.7c.5.1.9.2 1.2.3 0 0 .1 0 .1.1.1 0 .1.1.2.1 0 0 .1 0 .1.1l.1.1c.1.1.2.2.3.2.1.1.2.1.3.2.3.2.6.2 1.1-.3-.2-.2-.3-.4-.5-.6-.8-.8-1.7-1-2-1.1-.2-.1-.5-.1-.8-.1h-.8C43.5.1 41 1.9 41 6c0 4.1 2.6 5.9 5.1 5.9h.8c.3 0 .6-.1.8-.1.4-.1 1.2-.3 2-1.1.2-.2.3-.3.5-.6-.5-.5-.8-.5-1.1-.3-.1.1-.2.1-.3.2-.1.1-.2.1-.3.2 0 0-.1 0-.1.1 0 0-.1 0-.1.1-.1 0-.1.1-.2.1 0 0-.1 0-.1.1-.3.2-.7.3-1.2.3h-.7c-2.4 0-3.9-1.8-3.9-4.7v-.1V6c0-3.1 1.5-4.9 3.9-4.9m42.3 5.4c.1-.4.1-.7.3-1.1.2-.5.5-.9.9-1.2.4-.3.9-.4 1.4-.4.4 0 .7 0 1 .1l.6.3c.3.2.5.5.6.9.1.3.2.8.2 1.3h-5zm5.5-2.4c-.3-.4-.7-.7-1.2-1-.5-.2-1-.3-1.6-.3-.6 0-1.1.1-1.6.3-.7.3-1.3.9-1.7 1.6-.4.7-.6 1.6-.6 2.6 0 .7.1 1.3.3 1.8.3.8.7 1.5 1.4 1.9.6.4 1.5.7 2.5.7.8 0 1.4-.1 1.9-.3.8-.3 1.2-.7 1.5-.9-.6-.8-.9-.5-1.5-.2-.4.2-1.1.4-1.8.4-.5 0-.9-.1-1.3-.2-.3-.1-.5-.2-.7-.4-.5-.3-.7-.7-.9-1.1-.1-.4-.2-.9-.2-1.4h6.3v-.3V7c0-.7-.1-1.3-.3-1.8-.1-.5-.2-.8-.5-1.1m-64 3.5l1.6-5.3 1.6 5.3h-3.2zM32.6.1h-2.2l-3.6 11.7h1.8l.8-2.5h4.2l.8 2.5h3.2L34 1.3c-.3-1-.5-1.2-1.4-1.2M13.4 10.2h-.8V1.6h1.5c.7 0 1.3.6 1.3 1.3 0 .3 0 .5-.3.8l-1 1.5c1 .2 1.7 1 1.7 2.5.1 1.8-1 2.5-2.4 2.5m3-5.5l.6-.8c1.2-1.8.4-3.7-2-3.7H9.9v11.7h4.9c4.3-.1 5.5-5.1 1.6-7.2M3.6 10.2h-.9V1.6h1.5c.8 0 1.4.6 1.4 1.4 0 .3 0 .5-.3.8l-1 1.5c1 .2 1.7 1 1.7 2.5 0 1.7-1 2.4-2.4 2.4m2.9-5.5l.6-.8c1.2-1.8.4-3.7-2-3.7H0v11.7h4.9c4.3-.1 5.6-5.1 1.6-7.2M26.3.1L23.7 9l-2.2-7.3C21.1.4 20.9.2 20.1.2H18l3.8 11.7h2.8L28.1.2h-1.8zM55 2.8c-2.5 0-4.1 1.8-4.1 4.5s1.6 4.5 4.1 4.5c2.5 0 4.1-1.7 4.1-4.5 0-2.7-1.6-4.5-4.1-4.5')

      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='80', height='20.5', viewbox='0 0 80 20.5')
        style.
          .st0b{clip-path:url(#SVGID_2_);fill:#0066A3;} 
          .st1b{clip-path:url(#SVGID_2_);fill:#ED914A;} 
          .st2b{clip-path:url(#SVGID_4_);fill:#0066A3;} 
          .st3b{clip-path:url(#SVGID_4_);fill:#ED914A;}
        defs
          path#SVGID_1_(d='M0 0h80v20.5H0z')
        clippath#SVGID_2_
          use(xlink:href='#SVGID_1_', overflow='visible')
        path.st0b(d='M37.6 2.1c2.5-2 6.3-2.6 9.5-1.7 1.2.3 2.6.9 2.9 2.1 0 1-.4 1.9-.6 2.9-1.5-1.2-3.7-1.6-5.8-1.4-2.2.4-3.7 2-4.5 3.7-.9 2-1.4 4.3-.5 6.4.4 1.1 1.5 2.1 2.8 2.4 2.1.5 4.3-.1 5.9-1.4-.3 1.2-.5 2.5-.9 3.7-.4 1-1.7 1.4-2.7 1.5-2.8.4-6.1-.1-8.1-2s-2.4-4.5-2.3-7c0-3.3 1.3-6.8 4.3-9.2M20.9 11.3c-.4 1.3-.6 2.6-.9 3.9-.1.6-.4 1.2.1 1.7 1.5 0 3.1.1 4.4-.7 1.6-.8 2.1-3 .8-4.1-1.2-1-2.9-.7-4.4-.8m1.6-7.6c-.3 1.4-.6 2.7-.9 4.1-.1.4.5.5.8.5 1.4 0 3-.1 4.1-1 .9-.9 1.1-2.6-.3-3.2-1-.7-2.4-.4-3.7-.4M18.6.8c2.1-.3 4.2-.5 6.3-.5 1.9.1 4 .5 5.5 1.7 1.7 1.4 1.8 4 .4 5.6-.8 1-2.1 1.7-3.4 2 1.1.4 2.1 1 2.7 1.9 1.2 2.2.6 5.2-1.6 6.8-1.7 1.4-4 1.8-6.3 2-1.7.1-3.4 0-5-.4-.8-.2-1.5-.8-1.8-1.6-.4-1.1-.3-2.2 0-3.3 1.2-4.8 2.1-9.5 3.2-14.2M57.3 3.8c-.4 1.9-.8 3.7-1.2 5.6-.1.4.2.7.6.9 1.1.2 2.4 0 3.4-.5 1.9-1 2.7-3.3 1.8-5-.9-1.3-3-1.1-4.6-1M53.1.9c1.5-.4 3-.4 4.6-.5 2.1 0 4.4 0 6.2 1 1.4.7 2.3 2.1 2.5 3.5.5 3.1-1.3 6.4-4.5 7.9-2.1 1-4.6 1.1-7 1-.4 1.5-.6 3.1-1.1 4.6-.2.8-.8 1.6-1.8 1.8-1.1.1-2.2 0-3.3 0 1.6-6.4 2.9-12.8 4.4-19.3M68.5 5.2c.7-1.4 1.6-2.9 3.2-3.5.8-.3 1.7.1 2.2.7 1 2.1.8 4.6 0 6.7-1.4-1.5-3.3-2.9-5.4-3.9')
        path.st1b(d='M74 2.5c1.9.8 3.2 2.4 4.5 3.8 1 1.1 1.6 2.5 1.5 3.9-.1 1.2-.8 2.3-1.6 3.2-1.6 1.9-3.6 3.4-5.8 4.8-.9.5-2 1-3.1.7-1.5-.3-2.4-1.5-3-2.7 3.2-1.6 6.2-3.8 7.5-7 .7-2.2 1-4.6 0-6.7')
        path.st0b(d='M2.1 5.2c.7-1.4 1.6-2.9 3.2-3.5.9-.2 1.7.2 2.2.8 1 2.1.8 4.6 0 6.7-1.5-1.6-3.3-3-5.4-4')
        path.st1b(d='M7.5 2.5c1.9.8 3.2 2.4 4.5 3.8 1 1.1 1.6 2.5 1.5 3.9-.1 1.2-.8 2.3-1.6 3.2-1.6 1.9-3.6 3.4-5.8 4.8-.9.5-2 1-3.1.7-1.5-.3-2.4-1.5-3-2.7 3.2-1.6 6.2-3.8 7.5-7 .8-2.2 1-4.6 0-6.7')

    .generic_logo_group
      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='96', height='16.9', viewbox='0 0 96 16.9')
        style.
          .st0c{clip-path:url(#SVGID_2_);fill:#1D3D90;}
          .st1c{clip-path:url(#SVGID_2_);fill:#009639;}
          .st2c{clip-path:url(#SVGID_4_);fill:#1D3D90;}
          .st3c{clip-path:url(#SVGID_4_);fill:#009639;}
        defs
          path#SVGID_1_(d='M0 0h96v16.9H0z')
        clippath#SVGID_2_
          use(xlink:href='#SVGID_1_', overflow='visible')
        path.st0c(d='M4 14.2V4.9l8.8-1.6v9.2L4 14.2zm-4 2.7h14.9c1.2 0 2.1-.9 2.1-2.1V0H2.1C1 0 0 .9 0 2.1v14.8z')
        path.st1c(d='M70.7 5c1.1-.1 2.4 0 3.3.7.3.3.7.6.9 1.1.2.5.3 1.1.3 1.7v2.9c0 1.4-.5 2.7-1.9 3.4-.5.2-1 .3-1.6.3-2.5.1-4.3-1.2-4.1-3.5.1-1.6 1.5-2.3 3.2-2.5.8-.1 2.1.1 2.6 0 0-.5-.1-1.1-.2-1.5-.2-.2-.5-.6-.9-.7-.5-.2-1.2-.2-1.8-.2-.7.1-1.3.2-2.2.7v-.8c0-.3 0-.6.2-.8.4-.6 1.5-.8 2.2-.8m2.7 5.5H72c-.8 0-1.3.1-1.8.3-.5.2-.7.6-.7 1v.1c-.1.8.3 1.4 1 1.5.8.1 1.5 0 2-.2.4-.2.7-.6.8-1.2.1-.5.1-1 .1-1.5m22.1-5.1h-2.2l-4 4.5 4.4 5H96l-4.4-5 3.9-4.5zm-8.3-3.1h2.2v12.6h-2.2V2.3zm-6.5 2.6h.8c1.1 0 2.1.4 2.8 1.1.7.7 1.1 1.7 1.1 2.8v6h-2.2v-6c0-.5-.2-.9-.5-1.2-.3-.3-.7-.5-1.2-.5h-.8c-.5 0-.9.2-1.2.5-.3.3-.5.7-.5 1.2v6h-2.2v-6c0-1.1.5-2.1 1.2-2.8.7-.7 1.6-1.1 2.7-1.1zM21.4 2.3h2.2v12.6h-2.2V2.3zm8.1 2.6h.8c1.1 0 2.1.4 2.8 1.1.7.7 1.2 1.7 1.2 2.8v6H32v-6c0-.5-.2-.9-.5-1.2-.3-.3-.8-.5-1.2-.5h-.8c-.5 0-.9.2-1.2.5-.3.3-.5.7-.5 1.2v6h-2.2v-6c0-1.1.4-2.1 1.1-2.8.7-.7 1.7-1.1 2.8-1.1zM38 2.5V5h3.6l-.1.8c-.1.7-.5.9-1.3 1H38V12c.1.7.6.9 1.2 1 .7.1 1.7 0 2.3-.3.1.8 0 1.9-.5 2-.4.2-1.3.2-2 .2-.3 0-.6 0-.9-.1-.5-.1-1.3-.5-1.6-.9-.7-.8-.7-1.6-.8-2.6V2.2H38zm5.7 7H47c.7 0 1.6-.4 1.2-1.4 0-.1-.1-.2-.2-.3l-.3-.3c-.5-.5-1.4-.8-2.2-.5-.2 0-.3 0-.5.1-.1.1-.3.2-.4.3-.4.3-.7 1.1-.9 2.1m3.2 1.6h-3.2c0 .1.1.2.1.3.4 1 1.2 1.5 2.2 1.7.1 0 .3 0 .4.1h.4c1 0 1.8-.3 2.3-.6.1.4 0 1.2 0 1.4-.2.9-1.8 1-2.4 1h-.6c-.2 0-.4 0-.6-.1-2.5-.5-3.9-2.7-3.8-5.1.1-2 1.2-3.9 3.2-4.5 1.6-.5 3 0 4 .8l.5.5c.1.2.3.4.4.6.2.5.3.9.3 1.3 0 .5-.2.9-.4 1.3-.3.3-.6.6-1 .8-.4.4-1.1.5-1.8.5m8.6-6.2h.6v2.2h-.6c-.5 0-.9.2-1.2.5-.3.3-.5.7-.5 1.2v6h-2.2v-6c0-1.1.4-2.1 1.2-2.8.6-.7 1.6-1.1 2.7-1.1zm4-2.5v4.1c1.2-1.2 2.5-1.5 4.1-1 1.9.5 2.9 2.2 2.9 4.6 0 3.1-2.1 5-4.6 5-2.8 0-4.7-1.9-4.6-4.7v-8h2.2zm2.4 4.4c-.8 0-1.5.4-2 1.1-.4.6-.5 1.4-.5 2.3 0 .8.1 1.4.6 2.1.5.6 1.1.9 1.9.9 1.4 0 2.5-1.3 2.5-3.2.1-1.9-1.1-3.2-2.5-3.2')

      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='108', height='19.3', viewbox='0 0 108 19.3')
        style.
          .st0d{clip-path:url(#SVGID_2_);fill:#E32112;}
          .st1d{clip-path:url(#SVGID_4_);fill:#E32112;}
        defs
          path#SVGID_1_(d='M0 0h108v19.3H0z')
        clippath#SVGID_2_
          use(xlink:href='#SVGID_1_', overflow='visible')
        path.st0d(d='M15.4 9.7c.1 3.3-2.9 5.8-5.4 5.8H3.9L0 19.3h10c3.2 0 6.2-2.9 6.2-6.3 0-1-.1-2.3-.8-3.3zm-1 2.4c.4-.7.6-1.4.6-2.2h-2.8c0 .7-.1 1.4-.4 2.2h2.6zm-2.8.4c-.3.8-1.1 1.9-1.8 2.4 1.4 0 3-.6 4.2-2.4h-2.4zm-.3-.4c.2-.7.4-1.4.4-2.2H7.5c.1.7.2 1.5.4 2.2h3.4zm-3.8 0c-.2-.8-.4-1.5-.4-2.2H4.3c.1.7.2 1.5.6 2.2h2.6zm2.1 2.4c.6-.5 1.2-1.3 1.5-2h-3c.4.7 1 1.5 1.5 2m-4.4-2C6.4 14.3 8 15 9.5 15c-.8-.6-1.6-1.6-1.8-2.4H5.2zm6.6-5.2c.3.7.4 1.4.4 2.2H15c0-.8-.2-1.5-.6-2.2h-2.6zm2.3-.5c-1.2-1.7-2.8-2.4-4.2-2.4.7.6 1.5 1.6 1.8 2.4h2.4zM8 7.3c-.3.7-.4 1.4-.5 2.2h4.2c-.1-.8-.2-1.5-.4-2.2H8zm-3.1 0c-.4.7-.5 1.4-.6 2.2h2.8c0-.8.1-1.5.4-2.2H4.9zm4.7-2.4c-.5.5-1.1 1.2-1.5 1.9h3c-.3-.7-.9-1.4-1.5-1.9M7.7 6.8c.2-.8 1-1.9 1.8-2.4-1.5 0-3.1.7-4.3 2.4h2.5zM3.9 9.6c-.6-1-.8-2.3-.8-3.3 0-3.4 3-6.3 6.2-6.3h9.9l-3.9 3.9h-6c-2.5 0-5.5 2.5-5.4 5.7M76.3 11c0-1-.6-1.9-1.6-1.9-.9 0-1.6.8-1.6 1.9 0 1.1.6 1.9 1.6 1.9s1.6-.8 1.6-1.9M57.6 3.3c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5 1.5-.7 1.5-1.5-.7-1.5-1.5-1.5m32.8 11.5H93v-3.9c0-.9.6-1.6 1.4-1.6.9 0 1.4.6 1.4 1.6v3.9h2.6v-4.6c0-1.7-1.1-3.2-3.2-3.2-1.4 0-2.1.7-2.4 1h-.1v-.8h-2.3v7.6zm9.6 0h2.6v-3.5l2.4 3.5h2.9l-2.8-4.1 2.8-3.6H105l-2.3 3.2V4H100v10.8zM39.4 7.3c-.2-.1-.9-.3-1.9-.3-2.4 0-4.2 1.5-4.2 4 0 2.3 1.6 4 4.1 4 1.1 0 1.8-.3 2-.3l-.1-2.2c-.2.1-.7.4-1.3.4-1.1 0-1.9-.8-1.9-1.8 0-1.1.8-1.8 1.9-1.8.6 0 1.1.3 1.3.4l.1-2.4zm23.5 3.6c0 1.3.7 2.1 1.6 2.1.8 0 1.6-.8 1.6-1.9 0-1.2-.7-2-1.6-2-.9-.1-1.6.7-1.6 1.8m19.9 0c0 1.3.7 2.1 1.6 2.1.8 0 1.6-.8 1.6-2s-.7-2-1.6-2c-.9 0-1.6.8-1.6 1.9m-58 3.6c.7.2 1.9.4 3.1.4 2.3 0 4.5-.8 4.5-3.3 0-3.4-4.7-2.9-4.7-4.3 0-.7.7-.8 1.4-.8 1 0 2.2.5 2.5.6l.2-2.4c-.7-.2-1.7-.4-2.7-.4-2.2 0-4.4.9-4.4 3.1 0 3.4 4.7 2.7 4.7 4.4 0 .7-.7.9-1.5.9-1.2 0-2.3-.6-2.8-.8l-.3 2.6zM55 12.7c-.1 0-.5.1-.7.1-.5 0-1.1-.3-1.1-1.2V9.1h1.7v-2h-1.7V4.7h-2.7v2.5h-1.2v1.9h1.2v3c0 1.7.8 2.9 2.7 2.9.6 0 1.1-.1 1.5-.1l.3-2.2zm-10.5.3c1.1 0 1.7-.9 1.7-2.1 0-1.1-.6-2.1-1.7-2.1-1.2 0-1.7.9-1.7 2.1 0 1.2.6 2.1 1.7 2.1m26 1.8V4h2.7v3.7c.2-.1 1-.7 2.3-.7 2.1 0 3.6 1.7 3.6 3.9 0 2.7-1.7 4.1-3.6 4.1-1.4 0-2.2-.7-2.4-.9v.7h-2.6zM56.3 7.1H59v7.6h-2.7V7.1zm12.5 0v7.6h-2.6v-.8h-.1c-.3.3-.9.9-2.5.9-1.8 0-3.5-1.6-3.5-4 0-2.2 1.4-4 3.6-4 1.5 0 2.1.7 2.3.9h.1V7h2.7zm19.9 0v7.6h-2.6v-.8H86c-.3.3-.9.9-2.5.9-1.8 0-3.5-1.6-3.5-4 0-2.2 1.4-4 3.6-4 1.5 0 2.1.7 2.3.9h.1V7h2.7zm-44.2 7.8c-2.6 0-4.4-1.6-4.4-4s1.9-4 4.4-4c2.5 0 4.4 1.6 4.4 4 0 2.5-1.8 4-4.4 4')

    .generic_logo_group
      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='67', height='18.1', viewbox='0 0 67 18.1')
        style.
          .st0e{clip-path:url(#SVGID_2_);fill:#C3D217;}
          .st1e{clip-path:url(#SVGID_2_);fill:#1899D6;}
          .st2e{clip-path:url(#SVGID_4_);fill:#C3D217;}
          .st3e{clip-path:url(#SVGID_4_);fill:#1899D6;}
        defs
          path#SVGID_1_(d='M0 0h67v18.1H0z')
        clippath#SVGID_2_
          use(xlink:href='#SVGID_1_', overflow='visible')
        path.st0e(d='M55.8 3.4c-1 .4-1.7-1-1.3-1.7.1-.2.5-.8 1.3-.6 1.1.3 1.1 1.8 0 2.3m.6-3.3c-1.6-.4-2.5.7-2.7 1.2-.8 1.4.6 4.3 2.7 3.5 2.2-.9 2.2-4.1 0-4.7')
        path.st1e(d='M46.9 14.9h-3.7v-4.3h3.7c1.9 0 2.2.5 2.2 2.2 0 1.6-.3 2.1-2.2 2.1M43.2 3.6h3.2c2 0 2.2.6 2.2 1.9 0 1.5-.3 2-2.2 2h-3.2V3.6zm7.7 5.3c1.2-.9 1.4-2.4 1.4-3.6C52.3 2 50.6.6 46.6.6h-5.2c-1.4 0-1.8.2-1.8 1.7v14c0 1.4.4 1.6 1.8 1.6h5.7c4 0 5.7-1.4 5.7-4.9 0-1.6-.3-3.2-1.9-4.1M55.8 5.7c-1.4 0-1.7.3-1.7 1.6v9c0 1.4.3 1.6 1.7 1.6s1.7-.3 1.7-1.6v-9c.1-1.3-.2-1.6-1.7-1.6M7.3 14.9H3.6v-4.3h3.7c1.9 0 2.2.5 2.2 2.2 0 1.6-.3 2.1-2.2 2.1M3.6 3.6h3.2c2 0 2.2.6 2.2 1.9 0 1.5-.3 2-2.2 2H3.6V3.6zm7.7 5.3c1.2-.9 1.4-2.4 1.4-3.6C12.7 2 11 .6 7 .6H1.8C.4.6 0 .8 0 2.3v14c0 1.4.4 1.6 1.8 1.6h5.7c4 0 5.7-1.4 5.7-4.9 0-1.6-.3-3.2-1.9-4.1M22.1 14.1c-1.3.6-2.4 1-3.1 1-.5 0-1 0-1-3.3s.5-3.3 1-3.3c.8 0 1.8.4 3.1 1v4.6zm1.7-8.4c-1.1 0-1.5.2-1.6.9-1.5-.7-2.8-1-4.1-1-2.6 0-3.5 1.7-3.5 6.2 0 4.6 1 6.2 3.5 6.2 1.3 0 2.6-.4 4.1-1.1.1.7.6.9 1.6.9 1.4 0 1.7-.3 1.7-1.7V7.3c0-1.4-.3-1.6-1.7-1.6M34.6 5.6c-1.3 0-2.5.4-4.1 1-.1-.7-.5-.9-1.6-.9-1.4 0-1.7.3-1.7 1.6v9c0 1.4.3 1.7 1.7 1.7s1.7-.3 1.7-1.7V9.5c1.3-.6 2.4-1 3.1-1 .3 0 .5 0 .7.5.1.5.1 1.2.1 1.2v6.1c0 1.4.3 1.7 1.7 1.7s1.7-.3 1.7-1.7v-6s0-1.1-.1-1.6c-.4-2.2-1.3-3.1-3.2-3.1M64.8 3.7c.3 0 2.2.2 2.2-1.5C67 1 66.4.7 65 .6c-.7 0-1.5 0-2.2.1-.9.2-1.6.5-1.9 1.2-.3.5-.4 1.1-.6 2-.1.6-.1 1.1-.1 1.8-1.2 0-1.7.1-1.7 1.4 0 1.3.6 1.4 1.7 1.4v7.8c0 1.4.3 1.7 1.7 1.7s1.7-.3 1.7-1.7V8.5h.9c1.2 0 1.9-.1 1.9-1.4 0-1.4-.6-1.4-1.9-1.4h-.9c0-1.4-.1-2 1.2-2')

      svg(xmlns='http://www.w3.org/2000/svg', width='51.6', height='16.2', viewbox='0 0 51.6 16.2')
        style.
          .st0f{fill:#1C1C1C;}
          .st1f{fill:#FFDE00;}
          .st2f{fill:none;}
        path.st0f(d='M0 0h51.6v16.2H0V0')
        path.st1f(d='M15.3 2c-.5.4-.6 1.1-.4 1.7.1.3.5.6.8.7.4.1.7.2 1.1.3.2.1.4.1.6.2.2.1.2.4 0 .5-.2.2-.5.2-.7.1-.2-.1-.2-.3-.2-.5h-1.8c0 .5.2 1 .7 1.3.6.4 1.3.4 2 .4.6-.2 1.1-.3 1.6-.7.4-.4.5-1 .4-1.5-.1-.4-.4-.7-.7-.8-.6-.3-1.2-.4-1.8-.6-.2 0-.3-.3-.2-.4.2-.2.4-.2.7-.1.2.1.2.2.2.4h1.7c0-.4-.1-.8-.5-1.1-.5-.4-1.1-.4-1.6-.4-.7-.1-1.4 0-1.9.5M43.7 1.5v10.8h.6V1.5h-.6M1.4 1.6c.3 1.6.7 3.3 1 4.9h2.1c.2-1.1.3-2.2.5-3.2.2 1.1.3 2.1.5 3.2h2.1c.3-1.6.7-3.3 1-4.9H6.9c-.1 1-.3 2.1-.4 3.1-.1-.4-.1-.7-.2-1L6 1.6H4c-.1 1-.3 2.1-.5 3.1 0-.3 0-.6-.1-.9-.1-.7-.2-1.5-.3-2.2H1.4M9.8 1.6v4.9h3.8V5.2h-1.9v-.6h1.7V3.3h-1.7v-.5h1.9V1.5c-1.3.1-2.6.1-3.8.1M20.5 2.9h1.2v3.6h1.9V2.9h1.2V1.6h-4.3v1.3M26.1 1.6v4.9h3.8V5.2H28v-.6h1.7V3.3H28v-.5h1.9V1.5c-1.3.1-2.5.1-3.8.1M37.4 1.6v4.9H39v-3c.1.2.2.4.3.7.3.8.5 1.5.8 2.3h2.3V1.6h-1.6v3c0-.1-.1-.2-.1-.2l-.9-2.7c-.9-.1-1.7-.1-2.4-.1M48.1 12.3h.6V1.6h-.6v10.7M14.7 7.5v3.3c0 .4.1.9.5 1.2.4.4.9.5 1.4.5.6 0 1.3 0 1.9-.3.4-.2.7-.5.8-.9.1-.3.1-.6.1-.9v-3h-1.9v3.2c0 .1 0 .3-.1.4-.1.2-.3.2-.5.1s-.2-.3-.2-.5V7.4c-.7.1-1.3.1-2 .1M20.9 7.5v4.9h1.5v-3c.1.2.2.5.3.7.3.7.5 1.5.8 2.2h2.3V7.4h-1.6v3c-.4-1-.7-2-1.1-3-.6.1-1.4.1-2.2.1M27.5 7.5v4.9h1.9V7.5h-1.9M37.4 7.5v4.9H39V9.9v-.5c.4 1 .7 2 1 3h2.3V7.5h-1.5v2.9c-.1-.1-.1-.3-.2-.5l-.9-2.4h-2.3M50 2.7c-.3.1-.6-.2-.6-.5s.1-.5.4-.6c.2-.1.5.1.6.4.1.3-.1.7-.4.7m.5-.7c-.1-.3-.5-.5-.8-.4-.2.1-.3.2-.4.4-.1.4.2.8.6.8.4 0 .7-.4.6-.8M33.9 3.4c-.2.2-.5.2-.7.2v-.9c.2 0 .5 0 .6.1.3.1.3.5.1.6m1.9 1.7c0-.3-.1-.6-.3-.8-.2-.2-.4-.3-.6-.3.3-.1.6-.2.7-.4.3-.3.3-.7.2-1.1-.1-.3-.3-.6-.6-.7-.4-.2-.8-.2-1.3-.2h-2.7v4.9h1.9V4.7c.2 0 .4 0 .6.1.1.1.1.2.1.3.2.5.2.9.4 1.4h1.9c-.2-.5-.3-1-.3-1.4M33.9 10.4c0 .2 0 .5-.2.7-.1.2-.4.2-.6.1-.1-.2-.1-.4-.2-.6-.1-.5-.1-1 0-1.5 0-.2.1-.4.3-.5.1 0 .3 0 .4.1.1.2.2.4.2.6.1.3.1.7.1 1.1m2-1.2c-.1-.6-.4-1.2-1-1.5-.6-.4-1.4-.5-2.1-.4-.5.1-1 .3-1.3.7-.4.5-.6 1.1-.6 1.7 0 .7.1 1.4.6 2 .4.5 1.1.7 1.7.8.6 0 1.3-.1 1.8-.5.4-.3.7-.8.8-1.4.2-.4.1-.9.1-1.4')
        path.st1f(d='M49.7 2.1v-.3c.1 0 .4-.1.4.2-.1.2-.3.1-.4.1m.4-.2c-.2-.1-.4-.1-.5-.1v.8c.1-.1.1-.3.1-.4.3 0 .2.3.5.4-.1-.2-.2-.3-.2-.4.1 0 .3-.2.1-.3')
        path.st2f(d='M0 0h51.6v16.2H0z')

    .generic_logo_group
      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='80', height='26.2', viewbox='0 0 80 26.2')
        style.
          .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#1C4694;} .st1{filter:url(#Adobe_OpacityMaskFilter);} .st2{enable-background:new ;} .st3{fill:url(#SVGID_2_);} .st4{mask:url(#SVGID_1_);} .st5{clip-path:url(#SVGID_4_);} .st6{clip-path:url(#SVGID_6_);fill:#FFCE00;} .st7{fill:none;} .st8{filter:url(#Adobe_OpacityMaskFilter_1_);} .st9{fill:url(#SVGID_8_);} .st10{mask:url(#SVGID_7_);} .st11{clip-path:url(#SVGID_10_);} .st12{clip-path:url(#SVGID_12_);fill:#FFCE00;}
        path.st0(d='M65.2 5.9h4.5V4.8h-3.2V3.4h2.8v-1h-2.8V1.2h3.1V.1h-4.4v5.8zm-9 0h1.3V1.2h1.8V.1h-4.8v1.1h1.8v4.7zm-12.6 0h1.2V2l2.5 3.8h1.3V.1h-1.2V4L44.9.2h-1.3v5.7zM33 5.9h4.5V4.8h-3.2V3.4h2.8v-1h-2.8V1.2h3.1V.1H33v5.8zm-7 0h.8V2.8h-2.5v.9h1.3c-.1.8-.6 1.2-1.4 1.2-1.2 0-1.6-1-1.6-1.9 0-1 .4-2 1.6-2 .6 0 1.1.3 1.2 1h1.2c-.1-1.3-1.3-2-2.5-2-1.8 0-2.9 1.3-2.9 3s1.1 3 2.9 3c.6 0 1.2-.2 1.6-.8l.3.7zM13.2 1.5l.8 2.2h-1.5l.7-2.2zm-2.8 4.4h1.3l.5-1.3h2.2l.4 1.3h1.3L13.9.2h-1.3l-2.2 5.7zM69.7 23.9l2.6-7.4H68l.7-2.2H80l-.7 2.2H75l-2.6 7.4h-2.7zm-2-9.6l-.7 2.1h-7.3l-.5 1.5h4.3l-.9 2.1h-4.3l-.6 1.7h7.4l-.8 2.2h-10l3.3-9.6h10.1zm-23.6 0L50 21c.2.2.4.5.6.7.2-.6.3-1.1.4-1.3l2.1-6.1h3L52 26.2h-2.2l-6.1-7.1c-.1-.1-.2-.3-.3-.4l-.4 1.2-2.2 6.3h-3l4.1-11.8h2.2zM22.5 17l-2.6 2.8H23l-.5-2.8zm2.1-2.7l2.3 9.6h-3l-.4-2H18l-1.8 2h-2.9l8.9-9.6h2.4zm6.8 3.6h5.4c1.9 0 2.5.6 1.8 2.5l-.4 1.2c-.6 1.8-1.5 2.3-3.3 2.3h-5.7c-1.9 0-2.5-.6-1.8-2.5v-.1L30 21l-.2.7h6l.5-1.5h-5.4c-1.9 0-2.5-.6-1.8-2.5l.3-1c.6-1.8 1.4-2.3 3.3-2.3h5.2c1.8 0 2.5.6 1.9 2.3l-2.6.3.2-.6h-5.5l-.5 1.5zm-24-3.6l-1.5 4.4 7.5-4.4h5L8.3 20l6.8 6.2H9.9l-5-4.7-1.7 4.7H0l4.1-11.8h3.3z')
        defs
          filter#Adobe_OpacityMaskFilter(filterunits='userSpaceOnUse', x='0', y='9.1', width='80', height='2')
            fecolormatrix(values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0')
        mask#SVGID_1_(maskunits='userSpaceOnUse', x='0', y='9.1', width='80', height='2')
          g.st1
            path(d='M0 9.1h80v2H0z')
            g.st2
              path(d='M0 9.1h80v2H0z')
              lineargradient#SVGID_2_(gradientunits='userSpaceOnUse', x1='14.205', y1='21.398', x2='15.773', y2='21.398', gradienttransform='translate(-724.774 -1081.698) scale(51.0236)')
                stop(offset='0', stop-color='#24201F')
                stop(offset='.057', stop-color='#2F2A29')
                stop(offset='.165', stop-color='#4E4847')
                stop(offset='.313', stop-color='#8A8484')
                stop(offset='.493', stop-color='#F3F2F2')
                stop(offset='.511', stop-color='#FFF')
                stop(offset='.55', stop-color='#DFDDDE')
                stop(offset='.669', stop-color='#908A8A')
                stop(offset='.779', stop-color='#5C5555')
                stop(offset='.874', stop-color='#3C3636')
                stop(offset='.951', stop-color='#2A2625')
                stop(offset='1', stop-color='#24201F')
              path.st3(d='M0 9.1h80v2H0z')
        g.st4
          defs
            path#SVGID_3_(d='M0 9.1h80v2H0z')
          clippath#SVGID_4_
            use(xlink:href='#SVGID_3_', overflow='visible')
          g.st5
            defs
              path#SVGID_5_(d='M0 9.1h80v2H0z')
            clippath#SVGID_6_
              use(xlink:href='#SVGID_5_', overflow='visible')
            path.st6(d='M0 9.1h80v2H0z')
            path.st6(d='M80 11.1v-2H0v2')
        path.st7(d='M0 0h80v26.2H0z')

      svg(xmlns='http://www.w3.org/2000/svg', width='90', height='27', viewbox='0 0 90 27')
        style.
          .st0g{fill:#BF0811;}
        path.st0g(d='M22.8 3.7c-.4-.3-.7-.7-1.1-1l-.2-.2c-.5.5-1 1.1-1.5 1.8-1.3 1.7-2.7 4.2-4.1 7.5.3 0 .6 0 .8-.1.6-.1 1.2-.4 1.6-.8l.4-.3v2.3l-.1.1c-.5.4-1.1.7-1.8.9-.6.1-1.2.1-1.7 0-.5 1.3-1.1 2.5-1.7 3.5-.3.6-.6 1.2-.9 1.7-1 1.7-3.5 5.3-4.8 6.4 1.7.8 3.7 1.3 5.7 1.3 1.5 0 2.9-.2 4.3-.7 3.7-1.2 6.6-4 8.1-7.5.7-1.6 1.1-3.4 1.1-5.3.1-3.6-1.5-7.1-4.1-9.6zM14.5 0h-1C8.8 0 4.7 2.4 2.3 5.9.8 8.1 0 10.7 0 13.5c0 4.2 1.9 7.9 4.8 10.4.9-.6 2.3-1.8 3.8-4.1 1-1.5 1.9-3.5 2.8-6.1-.3 0-.6 0-.9.1-.5 0-1.1.3-1.5.6l-.4.3v-2.3l.1-.1c.5-.4 1.1-.7 1.8-.9.6-.1 1.2-.1 1.7-.1 2-5.1 4.3-8.3 5.9-10 .1-.2.3-.3.4-.5-1.3-.3-2.6-.7-4-.8z')
        g
          path.st0g(d='M34.1 9.7h1.8v1.1h-1.8V17h-1.3v-6.1h-1.1V9.7h1.1v-.3c0-1.1.3-1.9.9-2.4.5-.5 1.3-.7 2.2-.6v1.1c-.6 0-1 .1-1.3.3-.4.3-.5 1-.5 1.5v.4zM43.3 17h-1.2v-.8c-.5.6-1.3 1-2.3 1-1.9 0-3-1.3-3-3.1V9.7h1.3v4.4c0 1.2.7 1.9 1.9 1.9 1.1 0 2-.8 2-1.9V9.7h1.3V17zM46.4 17h-1.3V6.4h1.3V17zM49.6 17h-1.3V6.4h1.3V17zM54.8 17.1c-2.1 0-3.9-1.7-3.9-3.8 0-2.1 1.7-3.8 3.9-3.8 1.7 0 3.1 1 3.6 2.4H57c-.4-.8-1.2-1.3-2.2-1.3-1.4 0-2.6 1.2-2.6 2.7 0 1.5 1.2 2.7 2.6 2.7 1 0 1.8-.5 2.2-1.3h1.4c-.5 1.5-1.9 2.4-3.6 2.4zM66.8 17h-1.2v-1.2c-.5.8-1.5 1.4-2.7 1.4-2.2 0-3.9-1.7-3.9-3.8 0-2.1 1.7-3.8 3.9-3.8 1.1 0 2.1.6 2.7 1.3V9.7h1.2V17zm-3.9-6.4c-1.5 0-2.6 1.2-2.6 2.7 0 1.5 1.1 2.7 2.6 2.7 1.4 0 2.6-1.2 2.6-2.7 0-1.5-1.2-2.7-2.6-2.7zM72.8 10.7c-1.3-.1-2.5.6-2.5 2.1V17H69V9.7h1.2v.8c.6-.8 1.6-1.1 2.5-1v1.2zM81.1 16.6c0 2.3-1.6 3.9-4 3.9-1.8 0-3.3-.9-3.7-2.4h1.3c.5 1.1 1.7 1.2 2.3 1.2 2 0 2.7-1.4 2.7-2.8v-.8c-.6.7-1.5 1.3-2.6 1.3-2.2 0-3.9-1.7-3.9-3.8 0-2.1 1.7-3.8 3.9-3.8 1.1 0 2.1.6 2.7 1.3v-1H81v6.9zm-4-6c-1.5 0-2.6 1.2-2.6 2.7 0 1.5 1.1 2.7 2.6 2.7 1.4 0 2.6-1.2 2.6-2.7.1-1.5-1.1-2.7-2.6-2.7zM90 17h-1.2v-1.2c-.5.8-1.5 1.4-2.7 1.4-2.2 0-3.9-1.7-3.9-3.8 0-2.1 1.7-3.8 3.9-3.8 1.1 0 2.1.6 2.7 1.3V9.7H90V17zm-3.9-6.4c-1.5 0-2.6 1.2-2.6 2.7 0 1.5 1.1 2.7 2.6 2.7 1.4 0 2.6-1.2 2.6-2.7 0-1.5-1.2-2.7-2.6-2.7z')

section.generic_geo
  .box_center
    a.generic_button(href= config.envUrl + '#/?tienda=[idServicio]&moneda=1&monto=[Monto]&ubicame=true')
      svg.generic_button_icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 80.1 42')
        style.
          .st0a1{clip-path:url(#SVGID_2_);}
          .st1a1{fill:#DBD2BA;}
          .st2a1{fill:#B3D399;}
          .st3a1{fill:#F3EFA1;}
          .st4a1{fill:#FFFFFF;}
          .st5a1{fill:#EB614D;}
          .st6a1{fill:#DF3F3C;}
          .st7a1{clip-path:url(#SVGID_4_);}
        defs
          path#SVGID_1_(d='M6.8 15.6L0 41.7h80l-6.8-26.1z')
        clippath#SVGID_2_
          use(xlink:href='#SVGID_1_', overflow='visible')
        g.st0a1
          path.st1a1(d='M6.8 16L0 42h80l-6.8-26')
          path.st2a1(d='M77 30.1H61.1c-.1-2.8-.2-5.7-.3-8.5-.1-1.6-.1-3.3-.2-4.9 0-.4-.1-.6-.6-.6h-4.3c-.4 0-.5.2-.5.5 0 1.1-.1 2.2-.1 3.3-.1 2-.1 4-.2 6 0 .2 0 .4-.2.5-1.1-.2-2.3-.1-3.5-.3-.6-.2-1.2-.4-1.6-1-.8-1.1-2-1.6-3.3-2.1-.3-.1-.7-.2-1-.3-.8-.3-1.2-.9-1.1-1.8 0-.4.1-.8-.1-1.2.7-1.1 1.3-2.3 2-3.4.2-.4.6-.4.9-.4h25.5c.6 0 .9.2 1 .8 1.1 4.1 2.2 8.2 3.3 12.2 0 .4.1.8.2 1.2zM61.5 34.2h16.6c.7 2.3 1.3 4.7 2 7 .1.4.1.6-.5.6-3.2 0-6.4 0-9.5-.1-.9-.7-2.1-1.2-2.6-2.4-.3-.7-.8-1-1.5-1.2-2.1-.6-4.1-1.4-4.5-3.9z')
          path.st3a1(d='M54.3 34.1h7c.1 2.6.1 5.2.2 7.7-2.5.1-5 .1-7.6 0 .2-2.5.3-5.1.4-7.7zM54.6 26.4c.2-.1.2-.3.2-.5.1-2 .1-4 .2-6.1.1-1.1.1-2.2.1-3.3 0-.4.1-.5.5-.5h4.3c.4 0 .5.2.6.6 0 1.6.1 3.3.2 4.9.1 2.8.2 5.7.3 8.5-2.2.1-4.4.2-6.5.1.1-1.3.1-2.5.1-3.7z')
          path.st4a1(d='M12.2 15.6L7 34.5h71.2l-1.4-5.3H13.7L17 15.6')
        g
          path.st5a1(d='M31.9 8.6c0-2.3 1.8-4.1 4.1-4.1V0c-4.8 0-8.6 3.9-8.6 8.6 0 1.3.3 2.6.8 3.7 2.7 6.3 7.8 12.3 7.8 12.3V12.7c-2.3 0-4.1-1.8-4.1-4.1z')
          path.st6a1(d='M44.6 8.6C44.6 3.9 40.7 0 36 0v4.5c2.3 0 4.1 1.8 4.1 4.1s-1.8 4.1-4.1 4.1v11.9s5.1-6.1 7.8-12.3c.5-1.1.8-2.3.8-3.7z')
      span.generic_button_text
        | Encuentra tu punto de pago
