section.generic_resume
  .box_center.is_inner
    h4.generic_title_page &#161;Est&aacute;s a punto de finalizar tu compra!
    .generic_resume_table
      .generic_resume_row
        .generic_resume_td.is_odd
          | Empresa Recaudadora:
        .generic_resume_td.is_even
          | PagoEfectivo

      .generic_resume_row
        .generic_resume_td.is_odd
          | Nombre de Servicio:
        .generic_resume_td.is_even
          | PagoEfectivo Soles

      .generic_resume_row
        .generic_resume_td.is_odd
          | C&oacute;digo de pago (CIP):
        .generic_resume_td.is_even
          strong
            | [CIP]

      .generic_resume_row
        .generic_resume_td.is_odd
          | Importe:
        .generic_resume_td.is_even
          strong
            | [Moneda] [Monto]

      .generic_resume_row
        .generic_resume_td.is_odd
          | Vencimiento:
        .generic_resume_td.is_even
          | [FechaVencimiento] - [HoraVencimiento]

    .generic_resume_legal
      | El c&oacute;digo de pago (CIP) no es una reserva confirmada de compra hasta haber realizado el pago.
      | La empresa [ServicioNombre] se reserva el derecho de finalizar el pedido antes del vencimiento.

    .generic_resume_separator

