section.generic_buying-date
  .box_center.generic_wrapp
    .generic_title_secundary CANALES DE PAGO
    .generic_subtitle_secundary Banca por internet y Banca M&oacute;vil
    .generic_content
      include ../banks/section-bbvacontinental.pug
      include ../banks/section-bcp.pug
      include ../banks/section-interbank.pug
      include ../banks/section-scotiabank.pug
      include ../banks/section-banbif.pug
  .box_center.generic_wrapp
    .generic_content_rows
      .generic_content_row
        h4.generic_subtitle_secundary Agentes y Bodegas
        
        ul.generic_list.is_jump
          li.generic_list_item.is_jump_size
            strong Express BBVA Continental
          li.generic_list_item.is_jump_size
            strong Agente BCP (*)
          li.generic_list_item.is_jump_size
            strong Agente Interbank (**)
          li.generic_list_item.is_jump_size
            strong Agente Scotiabank
          li.generic_list_item.is_jump_size
            strong Agente Kasnet
          li.generic_list_item.is_jump_size
            strong Western Union
          li.generic_list_item.is_jump_size
            strong Full Carga (***)
        ol.generic_list
          li Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
          li Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.
        ul.generic_list.is_legal
          li (*) Agentes BCP: Brinda el c&oacute;digo de empresa 02186.
          li (**) Agentes Interbank: Brinda el siguiente c&oacute;digo 2735001.
          li (***) Encuentra a FullCarga en Bodegas, Farmacias, Cabinas de Internet y Locutorios.

      .generic_content_row
        h4.generic_subtitle_secundary Agencias

        ul.generic_list.is_jump.is_small
          li.generic_list_item.is_jump_size
            strong Banco BBVA Continental
          li.generic_list_item.is_jump_size
            strong Banco BCP (*)
          li.generic_list_item.is_jump_size
            strong Banco Interbank (**)
          li.generic_list_item.is_jump_size
            strong Banco Scotiabank
          li.generic_list_item.is_jump_size
            strong Banco BanBif
        ol.generic_list
          li Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
          li Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.
        ul.generic_list.is_legal
          li (*) Agencias BCP: Costo adicional S/ 1.00.
          li (**) Agencias Money Market de Interbank: Costo adicional S/ 2.00.
