
<tr>
  <td align="center" valign="top" width="100%">
    <!--if (gte mso 9)|(IE)
    table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
      tr
        td(align='center', valign='top', width='600')
    -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;  border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;" bgcolor="#FFFFFF">
      <tr>
        <td align="center" valign="top" style="font-size:0;">
          <!--if (gte mso 9)|(IE)
          table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
            tr
              td(align='left', valign='top', width='175')
          -->
          <div style="display:inline-block; max-width:175px; vertical-align:top; width:100%; margin-bottom: 20px;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:175px;">
              <tr>
                <td align="center" valign="top" style="font-size:14px; padding: 0px 15px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-bbva.png"/></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)td(align='left', valign='top', width='175')
          -->
          <div style="display:inline-block; max-width:175px; vertical-align:top; width:100%; margin-bottom: 20px;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:175px;">
              <tr>
                <td align="center" valign="top" style="font-size:14px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-bcp.png"/></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)td(align='left', valign='top', width='175')
          -->
          <div style="display:inline-block; max-width:175px; vertical-align:top; width:100%; margin-bottom: 20px;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:175px;">
              <tr>
                <td align="center" valign="top" style="font-size:14px; padding 0 15px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-interbank.png"/></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)td(align='left', valign='top', width='175')
          -->
          <div style="display:inline-block; max-width:175px; vertical-align:top; width:100%; margin-bottom: 20px;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:175px;">
              <tr>
                <td align="center" valign="top" style="font-size:14px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-scotiabank.png"/></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)td(align='left', valign='top', width='175')
          -->
          <div style="display:inline-block; max-width:175px; vertical-align:top; width:100%; margin-bottom: 20px;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:175px;">
              <tr>
                <td align="center" valign="top" style="font-size:14px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-banbif.png"/></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)td(align='left', valign='top', width='175')
          -->
          <div style="display:inline-block; max-width:175px; vertical-align:top; width:100%; margin-bottom: 20px;">
            <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:175px;">
              <tr>
                <td align="center" valign="top" style="font-size:14px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/logo-wu.png"/></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)-->
        </td>
      </tr>
    </table>
    <!--if (gte mso 9)|(IE)-->
  </td>
</tr>
<tr>
  <td align="center" valign="top" width="100%">
    <!--if (gte mso 9)|(IE)
    table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
      tr
        td(align='center', valign='top', width='600')
    -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100; padding-top: 20px;" bgcolor="#FFFFFF">
      <tr>
        <td align="center" valign="center" style="font-size:0;">
          <!--if (gte mso 9)|(IE)
          table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
            tr
              td(align='left', valign='center', width='120')
          -->
          <div style="display:inline-block; max-width:120px; vertical-align:center; width:120%;">
            <table class="deviceWidth" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100px;">
              <tr>
                <td align="center" valign="center" style="font-size:14px; padding: 0px 0px 20px 0px;"><a href="https://ubicanos.pagoefectivo.pe/#/?tienda=[idServicio]&amp;moneda=2&amp;monto=[Monto]&amp;ubicame=true"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/mapa.png"/></a></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)td(align='left', valign='top', width='275')
          -->
          <div style="display:inline-block; max-width:275px; vertical-align:top; width:100%;">
            <table class="deviceWidth" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:275px; padding-bottom: 25px;">
              <tr>
                <td align="center" valign="center" style="font-size:14px;"><a href="https://ubicanos.pagoefectivo.pe/#/?tienda=[idServicio]&amp;moneda=2&amp;monto=[Monto]&amp;ubicame=true"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/encuentratupago.png"/></a></td>
              </tr>
            </table>
          </div>
          <!--if (gte mso 9)|(IE)-->
        </td>
      </tr>
    </table>
    <!--if (gte mso 9)|(IE)-->
  </td>
</tr>