tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tr
        td(align='center', valign='top', height='25')
    //if (gte mso 9)|(IE)
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding:10px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ececec')
      tr
        td(align='center', valign='top', style='font-size:15px; font-weight:bold; font-family: Arial;')
          | DATOS DE COMPRA
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tr
        td(align='center', valign='top', height='10')
    //if (gte mso 9)|(IE)
tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tr
        td(align='left', valign='top', style='font-size:14px; font-family: Arial; padding-bottom: 20px;')
          ul(style='list-style-type:none;')
            li(style='font-weight: bold; color: #000000;', color='#000000') Detalle de compra: 
            li(style='color: #000000', color='#000000') Servicio: [ServicioNombre]
            li(style='color: #000000', color='#000000') Concepto: Compra en [ConceptoPago]
            li(style='color: #000000', color='#000000') Monto a Pagar: [Moneda] [Monto]
    //if (gte mso 9)|(IE)
