include ../../../config/variables.pug

tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding: 20px 20px 18px 20px;', bgcolor='#1f1f1f')
      tr
        td(align='left', valign='middle', style='font-size:14px; color: #ffffff; padding-top: 8px;')
          img(src=config.cdnMailing + 'pe-footer.png')
        td(align='right', valign='middle', style='font-size:14px; color: #ffffff;')
          img(src=config.cdnMailing + 'pe-iso.png')
    //if (gte mso 9)|(IE)
tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding:15px 20px 15px 20px;', bgcolor='#ffffff')
      tr
        td(align='left', valign='top', style='font-size:12px;font-family: Arial;')
          | Este mail es solo para tu informaci&oacute;n y no es necesario que lo respondas. Si necesita ayuda o tiene alguna sugerencia, cont&aacute;ctate con nuestro Servicio de Atenci&oacute;n al Cliente. Todos los derechos reservados. Protecci&oacute;n de datos personales. 
    //if (gte mso 9)|(IE)
