
<section class="box_center generic_channels generic_wrapp generic_wrapp_bottom">
  <h2 class="generic_title_secundary">DATOS DE COMPRA</h2>
  <div class="box_center is_inner">
    <div class="generic_footer">
      <h5 class="generic_content_paychannel">Detalle de compra:</h5><img class="generic_detail_image" src="http://www.placecage.com/150/70"/>
      <ul class="generic_content_list">
        <li>Servicio: [ServicioNombre]</li>
        <li>Concepto: Compra en [ConceptoPago]</li>
        <li>N&deg; de Pedido: [NroPedido]</li>
        <li>Monto a Pagar: [Moneda] [Monto]</li>
      </ul>
    </div>
  </div>
</section>