
<div class="box_center">
  <section class="generic_wrapper">
    <h5 class="generic_help">Enviar instrucciones v&iacute;a:</h5>
    <ul class="generic_nav">
      <button class="generic_nav_item">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 96 96">
          <path d="M81 63v18H15V63H0v24c0 5 4 9 9 9h78c5 0 9-4 9-9V63H81z"></path>
          <path d="M46.2 68.1c.7 1 2.1 1.2 3 .5.2-.1.3-.3.5-.5L70.2 40c.5-.7.4-1.7-.4-2.2-.3-.2-.6-.3-.9-.3H57V0H39v37.5H27.1c-.9 0-1.6.7-1.6 1.6 0 .3.1.6.3.9l20.4 28.1z"></path>
        </svg>
      </button>
      <button class="generic_nav_item" type="button" onclick="[token]"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 444.9 413.8">
          <path d="M153.233-.022c-23.8 0-43 19.2-43 43v25.1h224.4v-25.1h.1c0-23.7-19.3-43-43-43h-138.5zm-106.6 84.5c-25.8 0-46.6 21-46.6 46.7v149.6c0 25.8 20.8 46.6 46.6 46.6h22.5v-78.1c0-13.5 11.2-24.6 24.6-24.6h257.5c13.6 0 24.6 11.2 24.6 24.6v78.1h22.5c25.9 0 46.7-20.8 46.7-46.6v-149.6c0-25.7-20.8-46.7-46.7-46.7h-351.7zm274.8 46.3h26.4c5.9 0 10.8 4.8 10.8 10.8v26.3c0 6-4.8 10.8-10.8 10.8h-26.4c-5.9 0-10.7-4.8-10.7-10.8v-26.3c0-6 4.8-10.8 10.7-10.8zm-227.7 110.4c-4.5 0-8.2 3.6-8.2 8.2v156.2c0 4.5 3.6 8.3 8.2 8.3h257.5c4.5 0 8.3-3.7 8.3-8.3v-156.2c0-4.6-3.7-8.2-8.3-8.2h-257.5zm8.2 16.4h241.1v139.8h-241.1v-139.8zm31.8 27.3c-4.5 0-8.3 3.7-8.3 8.2 0 4.5 3.7 8.2 8.3 8.2h176.5c4.5 0 8.2-3.6 8.2-8.2s-3.6-8.2-8.2-8.2h-176.5zm0 35.1c-4.5 0-8.3 3.7-8.3 8.3 0 4.5 3.7 8.2 8.3 8.2h176.5c4.5 0 8.2-3.6 8.2-8.2s-3.6-8.3-8.2-8.3h-176.5zm0 35.3c-4.5 0-8.3 3.7-8.3 8.3 0 4.5 3.7 8.2 8.3 8.2h176.5c4.5 0 8.2-3.6 8.2-8.2s-3.6-8.3-8.2-8.3h-176.5z"></path>
        </svg>
      </button>
      <button class="generic_nav_item">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 83.6 65">
          <path d="M7.9 2.7l32.5 27 .1.1c.8.7 1.9.7 2.6 0l.1-.1 32.5-27c.1-.1.2-.1.3-.2C73.5 1 70.6 0 67.5 0H16c-3.1 0-6 .9-8.5 2.5.1 0 .3.1.4.2z"></path>
          <path d="M81.5 8.1c-.2.3-.4.5-.7.7l-32.4 27c-1.9 1.6-4.2 2.5-6.6 2.5s-4.7-.8-6.6-2.5L2.8 8.8c-.3-.2-.5-.5-.7-.7C.8 10.4 0 13.1 0 16v33c0 8.8 7.2 16 16 16h51.6c8.8 0 16-7.2 16-16V16c0-2.9-.8-5.6-2.1-7.9z"></path>
        </svg>
      </button>
      <button class="generic_nav_item is_phone">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 50 100">
          <style>.st0{fill:none;}</style>
          <circle class="st0" cx="25" cy="91.2" r="3.8"></circle>
          <path class="st0" d="M16.9 10h16.2c1 0 1.9-.8 1.9-1.9 0-1-.8-1.9-1.9-1.9H16.9c-1 0-1.9.8-1.9 1.9 0 1.1.8 1.9 1.9 1.9z"></path>
          <path d="M40 0H10C4.5 0 0 4.5 0 10v80c0 5.5 4.5 10 10 10h30c5.5 0 10-4.5 10-10V10c0-5.5-4.5-10-10-10zM16.9 6.2h16.2c1 0 1.9.8 1.9 1.9 0 1-.8 1.9-1.9 1.9H16.9c-1 0-1.9-.8-1.9-1.9 0-1 .8-1.9 1.9-1.9zM25 95c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8s3.8 1.7 3.8 3.8c0 2.1-1.7 3.8-3.8 3.8zm20-12.5H5V15h40v67.5z"></path>
        </svg>
      </button>
    </ul>
  </section>
</div>