include ../../config/variables.pug

script(src= config.staticUrl + 'App_Themes/SPE/js/jquery-1.6.1.min.js?v=' + config.urlVersion, type='text/javascript')
script(src= config.staticUrl + 'App_Themes/SPE/js/slides.min.jquery.js?v=' + config.urlVersion, type='text/javascript')
script(src= config.staticUrl + 'App_Themes/SPE/js/miniApp.min.js?v=' + config.urlVersion, type='text/javascript')
script(src= config.staticUrl + 'App_Themes/SPE/js/modules.js?v=' + config.urlVersion, type='text/javascript')
script(src= config.staticUrl + 'App_Themes/SPE/js/accordion.js?v=' + config.urlVersion, type='text/javascript')