include ../../config/variables.pug

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= config.title
  meta(name='description', content='')
  meta(name='keywords', content='')
  meta(name='theme-color', content='#FEC90B')
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  link(rel='stylesheet', type='text/css', href= config.staticUrl + 'App_Themes/SPE/css/GenPagoIF.css?v=' + config.urlVersion)
  link(rel='stylesheet', type='text/css', href= config.staticUrl + 'App_Themes/SPE/css/all.css?v=' + config.urlVersion)
  link(rel='stylesheet', type='text/css', href= config.staticUrl + 'App_Themes/SPE/css/layout.css?v=' + config.urlVersion)
  link(rel='stylesheet', type='text/css', href= config.staticUrl + 'App_Themes/SPE/css/pagoEfectivo.css?v=' + config.urlVersion)
