tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tr
        td(align='center', valign='top', style='font-size:15px; font-family: Arial; font-weight:bold; padding: 45px 20px 15px 20px;')
          | &iexcl;Est&aacute;s a punto de finalizar tu compra!
          br
    //if (gte mso 9)|(IE)
tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding:20px 40px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tbody(style='background: #e9e9e9;' align="center")
        tr
          td(align='right', valign='top', style='font-size:14px; font-family: Arial; padding-top: 15px;')
            | Empresa&nbsp;Recaudadora:&nbsp;
          td(align='left', valign='bottom', style='font-size:14px; font-family: Arial; padding-top: 15px;')
            | PagoEfectivo
        tr
          td(align='right', valign='top', style='font-size:14px; font-family: Arial;')
            | Nombre de Servicio:&nbsp;
          td(align='left', valign='bottom', style='font-size:14px; font-family: Arial;')
            | PagoEfectivo&nbsp;Dolares
        tr
          td(align='right', valign='bottom', style='font-size:14px; font-family: Arial;')
            | C&oacute;digo de pago (CIP):&nbsp;
          td(align='left', valign='bottom', style='font-size:15px; font-family: Arial; font-weight: bold;')
            | [CIP]
        tr
          td(align='right', valign='top', style='font-size:14px; font-family: Arial;')
            | Importe:&nbsp;
          td(align='left', valign='top', style='font-size:15px; font-family: Arial; font-weight: bold;')
            | [Moneda] [Monto]
        tr
          td(align='right', valign='top', style='font-size:14px; font-family: Arial; padding-bottom: 15px;')
            | Vencimiento:&nbsp;
          td(align='left', valign='top', style='font-size:14px; font-family: Arial; padding-bottom: 15px;')
            | [FechaExpiracion]
    //if (gte mso 9)|(IE)
tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding: 15px 55px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tr
        td(align='center', valign='top', style='font-size:14px;font-family: Arial;')
          | El c&oacute;digo de pago (CIP) es solo informativo y no una constancia de pago confirmado
          | hasta la realizaci&oacute;n del mismo a trav&eacute;s de los canales mencionados abajo.
    //if (gte mso 9)|(IE)
tr
  td(align='center', height='100%', valign='top', width='100%')
    //if (gte mso 9)|(IE)
      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
        tr
          td(align='center', valign='top', width='600')
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding: 0 25px 25px 25px; border-left: 2px solid #f6c100; border-right: 2px solid #f6c100;', bgcolor='#ffffff')
      tr
        td(align='center', valign='top', style='font-size:16px; border: 0.5px solid #cecece;')
    //if (gte mso 9)|(IE)
