//Eric Meyer Reset
// global-reset()

*
    box-sizing border-box
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    margin 0
    padding 0

body
    font-family $basic-font
    font-weight normal
    color $black
    background-color $white

h1
h2
h3
h4
h5
    margin 0
    padding 0

strong
    font-family $basic-font
