
<tr>
  <td align="center" height="100%" valign="top" width="100%">
    <!--if (gte mso 9)|(IE)
    table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
      tr
        td(align='center', valign='top', width='600')
    -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;" bgcolor="#f6c100">
      <tr>
        <td align="left" valign="top" style="font-size:18px; font-weight: bold; padding: 25px 0 25px 25px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/pe-header.png"/></td>
        <td align="right" valign="middle" style="font-size:18px; font-weight: bold; padding: 0 35px 0 0; font-family: Arial;">Informaci&oacute;n para tu pago</td>
      </tr>
    </table>
  </td>
</tr>