
<tr>
  <td align="center" height="100%" valign="top" width="100%">
    <!--if (gte mso 9)|(IE)
    table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
      tr
        td(align='center', valign='top', width='600')
    -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;" bgcolor="#1f1f1f">
      <tr>
        <td align="left" valign="middle" style="font-size:14px; color: #ffffff; padding: 28px 0 18px 20px;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/pe-footer.png"/></td>
        <td align="right" valign="middle" style="font-size:14px; color: #ffffff; padding: 20px 20px 18px 0;"><img src="http://cde.dev.2b.pagoefectivo.g3c.pe.s3.amazonaws.com/pagoefectivo/web/generic/pe-iso.png"/></td>
      </tr>
    </table>
    <!--if (gte mso 9)|(IE)-->
  </td>
</tr>
<tr>
  <td align="center" height="100%" valign="top" width="100%">
    <!--if (gte mso 9)|(IE)
    table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
      tr
        td(align='center', valign='top', width='600')
    -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;" bgcolor="#ffffff">
      <tr>
        <td align="left" valign="top" style="font-size:12px;font-family: Arial; padding:15px 20px 15px 20px;">Este mail es solo para tu informaci&oacute;n y no es necesario que lo respondas. Si necesita ayuda o tiene alguna sugerencia, cont&aacute;ctate con nuestro Servicio de Atenci&oacute;n al Cliente. Todos los derechos reservados. Protecci&oacute;n de datos personales. </td>
      </tr>
    </table>
    <!--if (gte mso 9)|(IE)-->
  </td>
</tr>