include ../config/variables.pug

//- doctype html

//- html(lang='es-pe')
//-   include ./_includes/head.pug
//-   body
//- link(rel='stylesheet', type='text/css', href= config.cdnCss + config.styleName + '?v=' + config.oldQueryString)
//- link(rel='stylesheet', type='text/css', href= config.cdnCss + 'all.css' + '?v=' + config.oldQueryString)
//- link(rel='stylesheet', type='text/css', href= config.cdnCss + 'layout.css' + '?v=' + config.oldQueryString)
//- link(rel='stylesheet', type='text/css', href= config.cdnCss + 'GenPago.css' + '?v=' + config.oldQueryString)
//- link(rel='stylesheet', type='text/css', href= config.cdnCss + 'pagoEfectivo.css' + '?v=' + config.oldQueryString)
// nav helper
include _includes/default/helpers.pug
// header
.is_top
  include _includes/default/btn-download.pug
include _includes/default/header.pug

// nav helper
.box_center.generic_wrapp
  include _includes/usd/01-resume.pug
  include _includes/usd/00-logos.pug
include _includes/usd/02-pay-channels.pug
include _includes/default/buying-date.pug
.is_bottom
  include _includes/default/btn-download.pug
