include ../config/variables.pug

doctype html

html(lang='es-pe')
  include ./_includes/head.pug
  body
    .content
      .center_menu
        h2 
          | Template generate CIP Web
        p 
          | Test here your templates
        br
        h3
          a(href='/web/cip-web-pen.html', target='_blank') generic-cip S/
        br
        h3
          a(href='/web/cip-web-usd.html', target='_blank') generic-cip $

