doctype html

html(lang='es-pe')
  head
    title 
      | Workflow Templates CIP 
  body
    h1 
      | Workflow Templates CIP 
    p
      | Web, email and PDF
    ul 
      li 
        a(href='/web')
          | Web
      li 
        a(href='/email')
          | Email
      li 
        a(href='/pdf')
          | PDF