
<div class="generic_content_items">
  <ul class="generic_content_item is_left">
    <li>Banco BCP</li>
  </ul>
  <ol class="generic_content_item is_right">
    <li>Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO SOLES.</li>
    <li>Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
  </ol>
</div>