.generic_content_items
  ul.generic_content_item.is_left
    li Banco BanBif
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pago de servicios > Busca por Empresa y escribe PAGOEFECTIVO > Selecciona la empresa PAGOEFECTIVO.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
