.generic_content_items
  ul.generic_content_item.is_left
    li Banco Scotiabank
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO SOLES.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
