.generic_content_items
  ul.generic_content_item.is_left
    li Banco BCP
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO SOLES.
    li
      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.
