.generic_content_items
  ul.generic_content_item.is_left
    li Banco Interbank
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n de Pago a Instituciones o Empresa > Empresa: PAGOEFECTIVO > Servicio: PAGOEFECTIVO.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
