.generic_content_items
  ul.generic_content_item.is_left
    li Banco BBVA Continental
  ol.generic_content_item.is_right
    li
      | Seleccione la opci&oacute;n Pago de Servicios > De Instituciones y Empresas > Busca por nombre PAGOEFECTIVO > PAGOEFECTIVO SOLES.
    li
      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.
