.generic_header
  align-items center
  background $yellow-one
  display flex
  margin-top 20px
  padding 15px 30px
  svg
    width 250px
    height 60px
  +below($phone)
    margin-top 0
    padding 10px 20px
    svg
      width 130px
      height 30px

.generic_header_title
  set-font-size(28px)
  display flex
  font-family $basic-font
  font-weight bold
  margin-left auto
  line-height 1
  text-align right
  text-transform none
  +below($phone)
    set-font-size(15px)
    width 30%
